/**************************************/
/* Fixes/Tweaks for specific original theme
/* (should not include theme dependent styles, colors, ecc)
/**************************************/

/* ---------- Font: import full Poppins family from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900');

/* ---------- Mask */
body > .x-mask {
    background-color: rgba(107, 114, 128, 0.75) /* Gray/500 @75% */
}

/* ---------- Ext.button.Button */
/* Add default icon family to FA free */
.x-btn-icon-el:empty { font-family: var(--fa-style-family-classic); }
/* Fix arrow color not customizable via SenchaThemer */
.x-btn-button-secondary-small .x-btn-arrow-right:after,
.x-btn-button-secondary-medium .x-btn-arrow-right:after,
.x-btn-button-secondary-large .x-btn-arrow-right:after {
    color: var(--wt-theme-color-1);
}

/* ---------- Ext.button.Segmented */
/* Customize segmented UI */
.x-btn-button-segmented-small.x-btn-pressed .x-btn-inner,
.x-btn-button-segmented-medium.x-btn-pressed .x-btn-inner,
.x-btn-button-segmented-large.x-btn-pressed .x-btn-inner {
    color: var(--wt-theme-color-1);
}

/* ---------- Ext.button.Split */
/* Force icon color */
.x-btn-wrap-button-secondary-small.x-btn-split:after,
.x-btn-wrap-button-tertiary-small.x-btn-split:after { color: var(--wt-theme-color-1); }
.x-btn-wrap-button-secondary-medium.x-btn-split:after,
.x-btn-wrap-button-tertiary-medium.x-btn-split:after { color: var(--wt-theme-color-1); }
.x-btn-wrap-button-secondary-large.x-btn-split:after,
.x-btn-wrap-button-tertiary-large.x-btn-split:after { color: var(--wt-theme-color-1); }
/* Fix separator color and height (default was a top-bottom line) */
.x-btn-wrap-default-small.x-btn-split-right > .x-btn-button:after,
.x-btn-wrap-default-medium.x-btn-split-right > .x-btn-button:after,
.x-btn-wrap-default-large.x-btn-split-right > .x-btn-button:after {
    height: 100%;
    /*top: -5%; for original lineheight */
    top: 0%;
    border-color: var(--wt-theme-color-1-on);
}
.x-btn-wrap-button-secondary-small.x-btn-split-right > .x-btn-button:after,
.x-btn-wrap-button-secondary-medium.x-btn-split-right > .x-btn-button:after,
.x-btn-wrap-button-secondary-large.x-btn-split-right > .x-btn-button:after {
    height: 100%;
    /*top: -5%; for original lineheight */
    top: 0%;
    border-color: var(--wt-theme-color-1);
}
.x-btn-wrap-button-tertiary-small.x-btn-split-right > .x-btn-button:after,
.x-btn-wrap-button-tertiary-medium.x-btn-split-right > .x-btn-button:after,
.x-btn-wrap-button-tertiary-large.x-btn-split-right > .x-btn-button:after {
    height: 100%;
    /*top: -5%; for original lineheight */
    top: 0%;
    border-color: var(--wt-theme-color-1);
}

/* ---------- Ext.form.field.Text */
.x-form-trigger {
    border-radius: 3px; /* Triggers do NOT have rounded corners by default, so it hides radius on fields */
}

/* ---------- Ext.form.field.TextArea */
/* Provide SW (south-west) handle for customized smart resizing */
.x-form-textarea-resizable-smart {
    position: relative;
	background: #fff url("data:image/svg+xml,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M10.2773%2011.7773L12.2773%209.77734M12.2773%206.77734L7.27734%2011.7773M12.2773%203.77734L4.27734%2011.7773M12.2773%200.777344L1.27734%2011.7773%22%20stroke%3D%22%239CA3AF%22%2F%3E%3C%2Fsvg%3E") 100% 100% no-repeat;
	bottom: 1px;
	right: 2px;
}
.x-form-text-wrap {
    border-radius: 3px; /* Triggers do NOT have rounded corners by default, so it hides radius on fields */
}

/* ---------- Ext.grid.RowEditorButtons */
/* Apply base background for row-editor and disarm clip applied on main element */
.x-grid-row-editor-buttons-default-bottom {
	background-color: var(--wt-theme-color-dialog);
    clip: unset !important;
}

/* ---------- Ext.grid.column.Action */
/* Adds some extra spacing between action column icons */
.x-action-col-icon {
	margin-left: 8px;
}

/* ---------- Ext.grid.column.Check */
/* Adds right pointer */
.x-grid-checkcolumn {
    cursor: pointer;
}

/* ---------- Ext.menu.Item */
/* Fix FontAwesome icons vertical position */
.x-menu-item-icon.fas { top: 8px; }
.x-menu-item-icon.far { top: 8px; }