/*html, body { height: 100%; }*/
body { margin: 0; }
#wt-loading-mask {
	z-index: 200;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #f8f8f8;
	outline: none !important;
}
#wt-loading {
	z-index: 201;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 250px;
	height: 35px;
}
#wt-loading span {
	display: block;
	padding-left: 40px;
	line-height: 35px;
	color: black;
	font-size: 16px;
	font-weight: 300;
	font-family: helvetica, arial, verdana, sans-serif;
	background: url('../images/elica-anim_32.gif') no-repeat left center;
}
