.jumbotron {
	background: #f8f8f8;
	padding: 0px;
}
.jumbotron p {
	font-size: inherit; /* Remove the default font-size of .jumbotron */
}
.jumbotron.vertical-center {
	margin-bottom: 0; /* Remove the default bottom margin of .jumbotron */
}
.vertical-center {
	/*http://jsfiddle.net/hashem/ut5sbqvz/*/
	min-height: 100%;  /* Fallback for vh unit */
	min-height: 100vh; /* You might also want to use
						  'height' property instead.
						  
						  Note that for percentage values of
						  'height' or 'min-height' properties,
						  the 'height' of the parent element
						  should be specified explicitly.
	
						  In this case the parent of '.vertical-center'
						  is the <body> element */

	/* Make it a flex container */
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex; 

	/* Align the bootstrap's container vertically */
    -webkit-box-align : center;
	-webkit-align-items : center;
	-moz-box-align : center;
	-ms-flex-align : center;
	align-items : center;

	/* In legacy web browsers such as Firefox 9
	   we need to specify the width of the flex container */
	width: 100%;

	/* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
	   hence the bootstrap's container won't be aligned to the center anymore.
	
	   Therefore, we should use the following declarations to get it centered again */
	-webkit-box-pack : center;
	-moz-box-pack : center;
	-ms-flex-pack : center;
	-webkit-justify-content : center;
	justify-content : center;
}

div#login img {
	margin: 0 auto 1em;
}
div#login .logo {
	max-height: 250px;
}
div#login .alert {
	padding: 5px;
	margin-bottom: 0px;
}
div#login .powered {
	margin-top: 0px;
	margin-bottom: 0px;
}
div#login .serverinfo {
	font-family: Verdana,Helvetica,Arial,sans-serif;
}
div#login .delivery {
	height: 100px;
	width: 125px;
}
div#login .box {
	padding: 2em 3em;
}
div#login .form-group {
	margin-bottom: 5px;
}
div#login .btn {
	width: 100%;
}

/*
.login .btn {
	background: #eee;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
.login .btn:hover {
	background: #156A8B;
	color: #fff;
}
*/



.spinner {
	display: inline-block;
	opacity: 0;
	max-width: 0;

	-webkit-transition: opacity 0.25s, max-width 0.45s; 
	-moz-transition: opacity 0.25s, max-width 0.45s;
	-o-transition: opacity 0.25s, max-width 0.45s;
	transition: opacity 0.25s, max-width 0.45s; /* Duration fixed since we animate additional hidden width */
}

.has-spinner.active {
	cursor: progress;
}

.has-spinner.active .spinner {
	opacity: 1;
	max-width: 50px; /* More than it will ever come, notice that this affects on animation duration */
}