
.wt-header {
	//background-color: #105F99;
	background-color: #2A6FA0
}
.wt-launcher {
	background-color: #3892d3;
}

/*
 * Background: 1:light, 2:medium-dark, 3:dark/alternative
 * Generally light to not provide excessive contrast
 */
.wt-theme-bg-1 { background-color: #ffffff; }
.wt-theme-bg-2 { background-color: #dfeaf2; }
.wt-theme-bg-3 { background-color: #3892d3; }

/*
 * Header colors: 1:light, 2:medium-dark, 3:dark
 */
.wt-theme-hd-1 { background-color: #dfeaf2; }
.wt-theme-hd-2 { background-color: #5fa7db; }
.wt-theme-hd-3 { background-color: #157fcc; }
