/*
	The purpose of this CSS file is to contain all platform 
	specific styles (eg. wt-* classes) and default overrides 
	valid for all extjs themes.

	Specific platform styles contained below can be overridden
	in dedicated CSS files to the overriding (eg. override-
	crisp.css or override-crisp-touch.css).
*/

/* SERVICE ICONS */
.wt-icon-service-xs { background-image: url('elica_16.png') !important; }
.wt-icon-service-s { background-image: url('elica_24.png') !important; }
.wt-icon-service-m { background-image: url('elica_32.png') !important; }
.wt-icon-service-l { background-image: url('elica_48.png') !important; }

/* VIEWPORT */
.wt-header {
	
}
.wt-launcher {
	
}

/* WHATSNEW */
.wt-whatsnew {
	padding: 10px;
	font-family: Helvetica, Arial, sans-serif;
}
.wt-whatsnew > div.wt-wntitle:first-child {
	margin-top: 0;
}
div.wt-wntitle {
	margin-top: 1em;
	//font-size: 220%;
	font-size: 150%;
	font-weight: bold;
}
div.wt-wnsubtitle {
	margin-top: 0em;
	//font-size: 130%;
	font-size: 110%;
	font-family: Georgia,"Times New Roman",Times,serif;
	font-style: italic;
	color: #797c80;
}
div.wt-wnlist {
	margin-top: 1em;
	//font-size: 110%;
}
.wt-wnlist ul {
	padding-left: 30px;
}
.wt-wnlist ul li {
	list-style: initial;
}
.wt-wnlist ul li h1, .wt-wnlist ul li h2, .wt-wnlist ul li h3 {
	margin-top: .2em;
	font-size: 110%;
	font-weight: bold;
}
.wt-wnlist ul li p {
	margin-bottom: .5em;
}
.wt-wnlist ul li img {
	padding: .2em;
	margin-bottom: .5em;
	background-color: #fff;
	box-shadow: 2px 2px 5px #e1e1e1;
	border: solid 1px #ccc;
}
