/*
	The purpose of this CSS file is to contain all platform 
	specific styles (eg. wt-* classes) and default overrides 
	valid for all extjs themes.

	Specific platform styles contained below can be overridden
	in dedicated CSS files to the overriding (eg. override-
	crisp.css or override-crisp-touch.css).
*/

/* SERVICE ICONS */
.wt-icon-service-xs { background-image: url('elica_16.png') !important; }
.wt-icon-service-s { background-image: url('elica_24.png') !important; }
.wt-icon-service-m { background-image: url('elica_32.png') !important; }
.wt-icon-service-l { background-image: url('elica_48.png') !important; }

/* VIEWPORT */
.wt-header {
	
}
.wt-launcher {
	
}

/* WHATSNEW */
.wt-whatsnew {
	padding: 10px;
	font-family: Helvetica, Arial, sans-serif;
}
.wt-whatsnew > div.wt-wntitle:first-child {
	margin-top: 0;
}
div.wt-wntitle {
	margin-top: 1em;
	//font-size: 220%;
	font-size: 150%;
	font-weight: bold;
}
div.wt-wnsubtitle {
	margin-top: 0em;
	//font-size: 130%;
	font-size: 110%;
	font-family: Georgia,"Times New Roman",Times,serif;
	font-style: italic;
	color: #797c80;
}
div.wt-wnlist {
	margin-top: 1em;
	//font-size: 110%;
}
.wt-wnlist ul {
	padding-left: 30px;
}
.wt-wnlist ul li {
	list-style: initial;
}
.wt-wnlist ul li h1, .wt-wnlist ul li h2, .wt-wnlist ul li h3 {
	margin-top: .2em;
	font-size: 110%;
	font-weight: bold;
}
.wt-wnlist ul li p {
	margin-bottom: .5em;
}
.wt-wnlist ul li img {
	padding: .2em;
	margin-bottom: .5em;
	background-color: #fff;
	box-shadow: 2px 2px 5px #e1e1e1;
	border: solid 1px #ccc;
}

/* ICONS */
.wt-icon-save-xs { background-image: url('save_16.png') !important; }
.wt-icon-saveClose-xs { background-image: url('save-close_16.png') !important; }
.wt-icon-select-all-xs { background-image: url('select-all_16.png') !important; }
.wt-icon-select-none-xs { background-image: url('select-none_16.png') !important; }
.wt-palette-AC725E { background-image: url('palette/AC725E.png') !important; }
.wt-palette-D06B64 { background-image: url('palette/D06B64.png') !important; }
.wt-palette-F83A22 { background-image: url('palette/F83A22.png') !important; }
.wt-palette-FA573C { background-image: url('palette/FA573C.png') !important; }
.wt-palette-FF7537 { background-image: url('palette/FF7537.png') !important; }
.wt-palette-FFAD46 { background-image: url('palette/FFAD46.png') !important; }
.wt-palette-FAD165 { background-image: url('palette/FAD165.png') !important; }
.wt-palette-FBE983 { background-image: url('palette/FBE983.png') !important; }
.wt-palette-B3DC6C { background-image: url('palette/B3DC6C.png') !important; }
.wt-palette-7BD148 { background-image: url('palette/7BD148.png') !important; }
.wt-palette-16A765 { background-image: url('palette/16A765.png') !important; }
.wt-palette-42D692 { background-image: url('palette/42D692.png') !important; }
.wt-palette-92E1C0 { background-image: url('palette/92E1C0.png') !important; }
.wt-palette-9FE1E7 { background-image: url('palette/9FE1E7.png') !important; }
.wt-palette-9FC6E7 { background-image: url('palette/9FC6E7.png') !important; }
.wt-palette-4986E7 { background-image: url('palette/4986E7.png') !important; }
.wt-palette-9A9CFF { background-image: url('palette/9A9CFF.png') !important; }
.wt-palette-B99AFF { background-image: url('palette/B99AFF.png') !important; }
.wt-palette-A47AE2 { background-image: url('palette/A47AE2.png') !important; }
.wt-palette-CD74E6 { background-image: url('palette/CD74E6.png') !important; }
.wt-palette-F691B2 { background-image: url('palette/F691B2.png') !important; }
.wt-palette-CCA6AC { background-image: url('palette/CCA6AC.png') !important; }
.wt-palette-CABDBF { background-image: url('palette/CABDBF.png') !important; }
.wt-palette-C2C2C2 { background-image: url('palette/C2C2C2.png') !important; }
.wt-palette-FFFFFF { background-image: url('palette/FFFFFF.png') !important; }
