/* ---------- Navbar */
/* Set specific color to buttons */
.wt-viewport-navbar .x-btn.x-btn-focus,
.wt-viewport-navbar .x-btn {
    background-color: var(--wt-theme-color-surface-l0);
}
.wt-viewport-navbar .x-btn.x-btn-focus.x-btn-pressed,
.wt-viewport-navbar .x-btn.x-btn-focus.x-btn-over,
.wt-viewport-navbar .x-btn.x-btn-pressed,
.wt-viewport-navbar .x-btn.x-btn-over {
    background-color: var(--wt-theme-color-surface-l1);
}

/* ---------- Tool HD/Body */
/* Customize HD style */
.wt-tool .wt-tool-bg { background-color: var(--wt-theme-color-surface-l1); }
.wt-tool-hd-wrap { background-color: var(--wt-theme-color-surface-l1); }
/* Differentiate grid-items BG color */
.wt-tool .wt-tool-tree .x-grid-item.x-grid-item-over,
.wt-tool .wt-tool-tree .x-grid-item.x-grid-item-selected {
    background-color: var(--wt-theme-color-surface-l2);
}

/* ---------- Content Body */
/* Increase elevation of vertical splitter when hovered and dragging */
.wt-viewport-content .x-splitter:hover, .wt-viewport-content .x-splitter-active {
    background-color: var(--wt-theme-color-surface-l3);
}