/**************************************/
/* Tweaks WebTop's components for specific theme
/**************************************/

.wt-theme-text-color-title { color: var(--wt-theme-color-info); }
.wt-theme-text-color-subtitle {}
.wt-pane-body-title { font-size: var(--wt-theme-fontsize-base); font-weight: var(--wt-theme-fontweight-medium); }
.wt-pane-body-subtitle { font-size: var(--wt-theme-fontsize-xs); font-weight: var(--wt-theme-fontweight-base); }
.wt-form-body-title { font-size: var(--wt-theme-fontsize-base); font-weight: var(--wt-theme-fontweight-medium); }
.wt-form-body-subtitle { font-size: var(--wt-theme-fontsize-xs); font-weight: var(--wt-theme-fontweight-base); }
.wt-form-toolbar-title { font-size: var(--wt-theme-fontsize-base, inherit); font-weight: var(--wt-theme-fontweight-medium, normal); }

/* ---------- Ext.Mask */
.x-mask-msg-text {
    /*https://github.com/n3r4zzurr0/svg-spinners*/
    background-image: url(spinner-ring-resize.svg);
}

/* ---------- Ext.tree.Panel */
/* NB: for triton-based themes forcing an empty content on :before is mandatory */
.x-grid-item .x-grid-cell-inner-treecolumn .x-tree-icon:before { content: ''; }

/* ---------- Topbar */
/* Customize Avatar button BG color in Topbar */
.wt-viewport-topbar .so-btn-avatar-wrap {
    background-color: var(--wt-theme-color-n2) !important;
}
/* Customize Avatar button FORE color in Topbar */
.wt-viewport-topbar .so-btn-avatar-wrap SPAN {
    color: var(--wt-theme-color-n1-inv) !important;
}

/* ---------- Navbar */
/* Define 40x40 logo image */
.wt-viewport-navbar-logo.so-tbimage { padding: 0px; }
.wt-viewport-navbar-logo.so-tbimage .so-tbimage-image { background-image: url('logo-symbol.svg'); background-repeat: round; width: 40px !important; height: 40px !important; }
/* Force button sizes */
.wt-viewport-navbar .x-btn .x-btn-button { min-height: 24px; }
.wt-viewport-navbar .x-btn .x-btn-icon-el { width: 24px; height: 24px; }
/* Set specific radius to buttons */
.wt-viewport-navbar .x-btn.x-btn-pressed, .wt-viewport-navbar .x-btn.x-btn-over {
    border-radius: 100%;
}
/* Do NOT show focus outline/shadow on buttons */
.wt-viewport-navbar .x-btn.x-btn-focus { box-shadow: none !important; }

/* ---------- Tool HD/Body */
/* Hide ugly border when docking top */
.wt-tool .x-panel-body { border-top: 0px; }
/* Customize HD style */
.wt-tool-hd-wrap { padding-top: 4px }
.wt-tool-hd-title { font-size: var(--wt-theme-fontsize-lg); font-weight: 500; }
.wt-tool-hd-separator { border-top-color: #e5e7eb !important; } /* Gray/200 FIXME: evaluate to change directly fieldset color in theme */
.wt-tool-foo { padding-top: 10px; padding-bottom: 15px; }
/* Customize trees scroller shadow */
.wt-tool-tree.x-grid .x-grid-body .x-scroller:not(.x-scroller-y-at-end):not(.x-scroller-y-at-start) {
    box-shadow: inset 0px 8px 8px -8px var(--wt-theme-color-shadow), inset 0px -8px 8px -8px var(--wt-theme-color-shadow);
}
.wt-tool-tree.x-grid .x-grid-body .x-scroller:not(.x-scroller-y-at-end) {
    box-shadow: inset 0px -8px 8px -8px var(--wt-theme-color-shadow);
}
.wt-tool-tree.x-grid .x-grid-body .x-scroller:not(.x-scroller-y-at-start) {
    box-shadow: inset 0px 8px 8px -8px var(--wt-theme-color-shadow);
}

/* ---------- Content Body */
/* Remove separation border with top-toolbar (use same tb color) */
.wt-viewport-content.x-panel-body {
    border-color: var(--wt-theme-color-topbar);
}

/*
border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
*/


/* ---------- AccountMenu */
/* Pad user-info */
.wt-accountmenu-label1 { padding-top: 6px; }
.wt-accountmenu-label2 { padding-bottom: 6px; }

/* ---------- WTA.sdk.ModelView */
/* Customize toolbars */
/* <-- USEFUL?
.wt-modelview-toolbar {
	padding-left: 24px;
	padding-right: 24px;
    border-top: none;
}
.wt-modelview-toolbar-first {
	padding-top: 24px;
}
.wt-modelview-toolbar-last {}
*/

/* ---------- WTA.ux.field.Attachments */
/* Hide tagfield borders */
/* <-- USEFUL?
.wt-attachmentsfield .x-form-trigger-wrap {
	border: none;
}
*/

/* ---------- WTA.ux.field.Search */
/* Customize trigger-icon */
/* <-- USEFUL?
.wt-searchfield .x-form-arrow-trigger-default { background: url(search-sliders.svg) no-repeat left !important; }
.wt-searchfield .x-form-arrow-trigger-default:before { content: ''; }
*/

/* ---------- WTA.ux.field.Recipients */
/* Adjust gap between items */
/* <-- USEFUL?
.wt-recipients-field .x-tagfield-list {
    column-gap: 16px;
}
*/

/* ---------- WTA.ux.panel.Fields */
.wt-fieldspanel-body-padding-t {
	padding-top: 6px;
}
.wt-fieldspanel-body-padding-b {
	padding-bottom: 12px;
}
.wt-fieldspanel-body-padding-lr {
	padding-left: 12px;
	padding-right: 12px;
}

/* ---------- WTA.ux.panel.Tab */
.wt-tabpanel-margin-t {
	margin-top: 6px;
}
.wt-tabpanel-margin-lr {
	margin-left: 12px;
	margin-right: 12px;
}
.wt-tabpanel-margin-b {
	margin-bottom: 12px;
}

/* ---------- Ext.menu.Item */
/* Use the following selector for Ext.button.Button: ".wt-dangerzone .x-btn-inner, .wt-dangerzone .x-btn-icon-el" */
/* Customize text and icon color */
.wt-dangerzone .x-menu-item-text, .wt-dangerzone .x-menu-item-icon {
    color: var(--wt-theme-color-error);
}

/* ---------- Ext.tree.Panel */
/* Customize toggle color for both on/off states */
/*
.wt-tree-toggle.x-tree-checkbox:before {
	color: var(--wt-theme-color-error);
}
.wt-tree-toggle.x-tree-checkbox-checked:before {
	color: var(--wt-theme-color-1);
}
*/
/* ---------- Ext.tree.Panel@tree-toggle */
/* Support toggle checkbox style */
.wt-tree-toggle {
    background-image: none !important;
    background-repeat: no-repeat;
	background-size: contain;
}
.wt-tree-toggle.x-tree-checkbox {
	background-image: url('toggle-off_16.svg') !important;
}
.wt-tree-toggle.x-tree-checkbox-checked {
	background-image: url('toggle-on_16.svg') !important;
}
.wt-tree-toggle.x-tree-checkbox:before {
	content: '';
}
.wt-tree-toggle.x-tree-checkbox-checked:before {
	content: '';
}

/* ---------- Ext.panel.Tree (treecolumn colorswatch) */
.wt-tree-colorswatch.x-tree-icon {
    margin-top: 1px;
}
.x-tree-view .x-tree-checkbox.wt-tree-colorswatch {
    top: 8px;
}
.x-tree-view .x-tree-icon.wt-tree-colorswatch {
   height: 16px;
}
