/**************************************/
/* This file should contain tweaks/fixes for specific theme.
/**************************************/

@import url("../themes-override.css");
@import url("../themes-istriton-override.css");
@import url("../themes-custombuilt-override.css");

/*
grep -l "#0E7490" * | while read fname; do echo "sedding $fname"; sed -i -e 's/#0E7490/#0891b2/g' $fname; done
grep -R -l -i "#212121" * | while read fname; do echo "sedding $fname"; sed -i -e 's/#212121/#404040/gi' $fname; done
*/

:root {
    --wt-theme-color-surface-l0: #ffffff; /* White */
    --wt-theme-color-surface-l1: #fafafa; /* Neutral/50 */
    --wt-theme-color-surface-l2: #f5f5f5; /* Neutral/100 */
    --wt-theme-color-surface-l2-inv: #ffffff; /* White */
    --wt-theme-color-surface-l3: #e5e5e5; /* Neutral/200 */
    --wt-theme-color-surface-l4: #d4d4d4; /* Neutral/300 */
    --wt-theme-color-ct-1: #e0f2fe; /* Sky/100 */ /* !! we cannot use Cyan at light colors, is too warm !! */
    --wt-theme-color-ct-2: #edf0fe; /* Indigo/300@ 20% */
	--wt-theme-color-n1: #262626; /* Neutral/800 */
    --wt-theme-color-n1-inv: #f5f5f5; /* Neutral/100 */
    --wt-theme-color-n2: #525252; /* Neutral/600 */
    --wt-theme-color-n3: #737373; /* Neutral/500 */
    --wt-theme-color-1: #0891b2; /* Cyan/600 - Text/Icon 1st */
    --wt-theme-color-2: #4338CA; /* Indigo/700 - Text/Icon 2nd */
    --wt-theme-color-3: #a3a3a3; /* Neutral/400 - Text Placeholder/Icon Inactive */
    --wt-theme-color-off: #a3a3a3; /* Neutral/400 */
    --wt-theme-color-hyperlink: var(--wt-theme-color-1);
    --wt-theme-color-ok: #047857; /* Emerald/700 */
    --wt-theme-color-ok-on: #ecfdf5; /* Emerald/50 */
    --wt-theme-color-ok-ct: #d1fae5; /* Emerald/100 */
    --wt-theme-color-ok-ct-on: #059669; /* Emerald/600 */
    --wt-theme-color-warn: #f59e0b; /* Amber/500 */
    --wt-theme-color-warn-on: #fffbeb; /* Amber/50 */
    --wt-theme-color-warn-ct: #fde68a; /* Amber/200 */
    --wt-theme-color-warn-ct-on: #d97706; /* Amber/600 */
    --wt-theme-color-error: #be123c; /* Rose/700 */
    --wt-theme-color-error-on: #fff1f2; /* Rose/50 */
    --wt-theme-color-error-ct: #ffe4e6; /* Rose/100 */
    --wt-theme-color-error-ct-on: #9f1239; /* Rose/800 */
    --wt-theme-color-info: #3730a3; /* Indigo/800 */
    --wt-theme-color-info-on: #eef2ff; /* Indigo/50 */
    --wt-theme-color-info-ct: #e0e7ff; /* Indigo/100 */
    --wt-theme-color-info-ct-on: #4338ca; /* Indigo/700 */
    
    --wt-theme-color-scrollbar-thumb: #d4d4d4; /* Neutral/300 */
    --wt-theme-color-scrollbar-track: transparent;
    --wt-theme-color-mask: #737373bf; /* Neutral/500 @75% */
    --wt-theme-color-shadow: #d4d4d429; /* Neutral/300 @16% */
    /*--wt-theme-color-shadow: #1e1f2129;*/
    --wt-theme-color-field: var(--wt-theme-color-surface-l0);
    --wt-theme-color-dialog: var(--wt-theme-color-surface-l0);
    --wt-theme-color-dialog-on: #404040; /* Neutral/700 */
    --wt-theme-color-dialog-hd: var(--wt-theme-color-surface-l2);
    --wt-theme-color-dialog-hd-on: #404040; /* Neutral/700 */
    --wt-theme-color-mbox: var(--wt-theme-color-surface-l2);
    --wt-theme-color-mbox-on: #404040; /* Neutral/700 */
    --wt-theme-color-mbox-hd: var(--wt-theme-color-surface-l2);
    --wt-theme-color-mbox-hd-on: #404040; /* Neutral/700 */
    --wt-theme-color-popup: #737373; /* Neutral/500 */
    --wt-theme-color-popup-on: #e5e5e5; /* Neutral/200 */
    --wt-theme-color-navbar: var(--wt-theme-color-surface-l3);
    --wt-theme-color-topbar: var(--wt-theme-color-surface-l3);
    --wt-theme-color-taskbar: var(--wt-theme-color-surface-l3);
    
    --wt-theme-fontfamily: Inter, helvetica, arial, verdana, sans-serif;
    --wt-theme-fontsize-xs: 12px;
    --wt-theme-fontsize-sm: 14px;
    --wt-theme-fontsize-base: 16px;
    --wt-theme-fontsize-lg: 18px;
    --wt-theme-fontsize-xl: 20px;
    --wt-theme-fontsize-2xl: 24px;
    --wt-theme-fontsize-3xl: 30px;
    --wt-theme-fontsize-4xl: 36px;
    --wt-theme-fontsize-5xl: 48px;
    --wt-theme-fontsize-6xl: 64px;
    --wt-theme-lineheight-xs: 18px;
    --wt-theme-lineheight-sm: 21px;
    --wt-theme-lineheight-base: 24px;
    --wt-theme-lineheight-lg: 27px;
    --wt-theme-lineheight-xl: 30px;
    --wt-theme-lineheight-2xl: 36px;
    --wt-theme-lineheight-3xl: 45px;
    --wt-theme-lineheight-4xl: 54px;
    --wt-theme-lineheight-5xl: 72px;
    --wt-theme-lineheight-6xl: 96px;
    --wt-theme-fontweight-regular: 400;
    --wt-theme-fontweight-medium: 500;
    --wt-theme-fontweight-bold: 700;
    
    --wt-theme-dialog-radius: 5px;
    --wt-theme-menu-radius: 5px;
    --wt-theme-field-radius: 5px;
    --wt-theme-grid-radius: 5px;
    --wt-theme-tab-radius: 5px;
    
    /* ---------- Ext.button.Button */
    --so-button-pressed-nostyle-color: var(--wt-theme-color-n1);
    --so-button-toggle-indicator-color-off: var(--wt-theme-color-n3);
    --so-button-toggle-indicator-color-on: var(--wt-theme-color-1);
    /* ---------- Sonicle.ColorUtils */
    --so-colorswatch-framed-border-color: #737373; /* Neutral/500 */
    --so-colorswatch-darkmark-color: #404040; /* Neutral/700 */
    --so-colorswatch-lightmark-color: #f5f5f5; /* Neutral/100 */
    /* ---------- Sonicle.form.field.Display */
    --so-displayfield-clickable-color: #0e7490; /* Cyan/700 */
    --so-displayfield-clickable-hover-color: #164e63; /* Cyan/900 */
    /* ---------- Sonicle.form.field.Palette */
    --so-palettefield-shadow-color: var(--wt-theme-color-n3);
    /* ---------- Sonicle.panel.CanbanColumn */
    --so-kanbancolumn-border-radius: 4px;
    /* ---------- Sonicle.plugin.DropMask */
    --so-dropmask-border-color: var(--wt-theme-color-1);
    --so-dropmask-text-color: var(--wt-theme-color-1);
    --so-dropmask-text-size: var(--wt-theme-fontsize-3xl);
    /* ---------- FullCalendar */
    --fc-page-bg-color: var(--wt-theme-color-surface-l0) !important;
    --fc-border-color: var(--wt-theme-color-surface-l3) !important;
    --fc-neutral-bg-color: var(--wt-theme-color-surface-l1) !important;
    --fc-now-indicator-color: var(--wt-theme-color-1) !important;
    --fc-today-bg-color: var(--wt-theme-color-ct-2) !important;
    --fc-day-other-color: rgba(229,229,229,.3) !important; /* Neutral/200 @30% */
    --fc-non-business-color: rgba(229,229,229,.2) !important; /* Neutral/200 @20% */
    --fc-highlight-color: rgba(186,230,253,.3) !important; /* Sky/200 @30% */
    --fc-event-resizer-swatch-bg-color: #171717; /* Neutral/900 */
    --fc-event-resizer-swatch-border-color: #171717; /* Neutral/900 */
	--fc-event-style-shadow: rgba(0,0,0,.1);
}

/* ---------- Ext.panel.Panel */
/* Force panel's body BG to base when using 'border' layout */
.x-panel-body-default.x-border-layout-ct {
	background-color: var(--wt-theme-color-surface-l0);
}
/* Force splitter BG to its original color, to avoid that the above override set it back to L0  */
.x-splitter {
    background-color: var(--wt-theme-color-surface-l3);
}

/* ---------- Sonicle.LoadMask */
.so-mask-button-wrap {
    padding-top: 15px;
}

/* ---------- Fullcalendar */
/* Fix opacity: other-days daynum is too light and similar with bg */
.fc .fc-day-other .fc-daygrid-day-top {
    opacity: .5;
}
