
.so-colorcombo .x-form-text {
	padding-left: 23px;
}

.so-colorcombo-marker {
	position: absolute;
	top: 0px;
	bottom: 0px;
	margin-top: auto;
	margin-bottom: auto;
	width: 15px;
	height: 15px;
	border: 1px solid black;
	margin-left: 5px;
}

.so-colorcombo.x-combo-list-item > .so-colorcombo-marker {
	margin-left: 0px;
}

.so-colorcombo.x-combo-list-item > span {
	padding-left: 20px;
}
