
.so-iconcombo .x-form-text {
	padding-left: 24px;
}

.so-iconcombo-icon {
	position: absolute;
	top: 0px;
	bottom: 0px;
	margin-top: auto;
	margin-bottom: auto;
	width: 16px;
	height: 16px;
	margin-left: 5px;
}

.so-iconcombo.x-combo-list-item > .so-iconcombo-icon {
	margin-left: 0px;
}

.so-iconcombo.x-combo-list-item > span {
	padding-left: 21px;
}
