.so-multicalendar .x-datepicker {
	width: 182px;
}
.so-multicalendar .x-datepicker-arrow {
	top: 5px;
}
.so-multicalendar .x-datepicker-header {
	padding: 0px 6px;
}
.so-multicalendar .x-datepicker-column-header-inner {
	line-height: 18px;
}
.so-multicalendar .x-datepicker table {
	table-layout: auto;
}
.so-multicalendar .x-datepicker-date {
	padding: 0 5px 0 0;
	line-height: 16px;
}
.so-multicalendar .x-monthpicker {
	width: 182px;
}
.so-multicalendar .x-monthpicker-months {
	width: 90px;
}
.so-multicalendar .x-monthpicker-months .x-monthpicker-item {
	width: 44px;
	margin: 1px 0 2px;
	font-size: smaller;
}
.so-multicalendar .x-monthpicker-years {
	width: 90px;
}
.so-multicalendar .x-monthpicker-years .x-monthpicker-item {
	width: 44px;
	margin: 1px 0 2px;
	font-size: smaller;
}
.so-multicalendar .x-monthpicker-item-inner {
	line-height: 16px;
}
.so-multicalendar .x-monthpicker-yearnav {
	height: 20px;
}
.so-multicalendar .x-monthpicker-yearnav-button-ct {
	width: 45px;
}
.so-multicalendar .x-monthpicker-yearnav-button {
	margin-top: 5px;
}
.so-multicalendar .x-monthpicker-buttons {
	padding: 1px 0;
}
.so-multicalendar .x-monthpicker-buttons .x-btn {
	padding: 0;
}
