/**************************************/
/* This file should contain tweaks/fixes for all themer-built themes that 
/* use the modern "triton" theme as base theme.
/* Only for custom-built themes (customized typically using Themer app).
/**************************************/

/* ---------- Ext.Mask */
body > .x-mask {
    background-color: var(--wt-theme-color-mask);
}
/* Avoid ugly border color around masked panels */
.x-keyboard-mode .x-mask.x-focus {
    border-width: 0px;
}

/* ---------- ContextMenu */
/* Highlight the row that activates the context-menu */
.x-grid-view .so-contextmenu-owner,
.x-tree-view .so-contextmenu-owner {
    background-color: var(--wt-theme-color-ct-2) !important;
}

/* ---------- Ext.ProgressBar */
/* Add support to radius */
.x-progress.x-progress-default {
    border-radius: var(--wt-theme-field-radius, 0px);
}

/* ---------- Ext.button.Button */
/* Add default icon family to FA free */
.x-btn-icon-el:empty { font-family: var(--fa-style-family-classic); }
/* Buttons secondary|tertiary: fix arrow-icon color (not customizable via SenchaThemer) */
.x-btn.x-btn-ui-button-tertiary .x-btn-arrow:after,
.x-btn.x-btn-ui-button-secondary .x-btn-arrow:after {
    color: var(--wt-theme-color-1);
}
/* Buttons taskbar: fix arrow-icon color (not customizable via SenchaThemer) */
.x-btn.x-btn-ui-button-taskbar .x-btn-arrow:after {
    color: var(--wt-theme-color-n1);
}

/* ---------- Ext.button.Segmented */
/* Customize segmented UI */
.x-btn-ui-button-segmented.x-btn-pressed .x-btn-inner {
    color: var(--wt-theme-color-1);
}

/* ---------- Ext.button.Split */
/* Reduce right line-separator a little for all buttons (by default was a top-bottom line) */
.x-btn .x-btn-wrap.x-btn-split-right > .x-btn-button:after {
    height: 100%;
    /*top: -5%; for original lineheight */
    top: 0%;
}
/* Buttons secondary|tertiary: fix line-separator color */
.x-btn.x-btn-ui-button-tertiary .x-btn-wrap.x-btn-split > .x-btn-button:after,
.x-btn.x-btn-ui-button-secondary .x-btn-wrap.x-btn-split > .x-btn-button:after {
    border-color: var(--wt-theme-color-1);
}
/* Buttons secondary|tertiary: fix split arrow-icon color */
.x-btn.x-btn-ui-button-tertiary .x-btn-split:after,
.x-btn.x-btn-ui-button-secondary .x-btn-split:after {
    color: var(--wt-theme-color-1);
}
/* Buttons tertiary|taskbar|toolbar: fix line-separator color and padding */
.x-btn.x-btn-ui-button-taskbar .x-btn-wrap.x-btn-split > .x-btn-button:after,
.x-btn.x-btn-ui-button-tertiary .x-btn-wrap.x-btn-split > .x-btn-button:after {
    border-color: transparent;
}
.x-btn.x-btn-ui-default-toolbar .x-btn-wrap.x-btn-split-right > .x-btn-button,
.x-btn.x-btn-ui-button-taskbar .x-btn-wrap.x-btn-split-right > .x-btn-button,
.x-btn.x-btn-ui-button-tertiary .x-btn-wrap.x-btn-split-right > .x-btn-button {
    padding-right: 0px;
}
/* Buttons taskbar: fix split arrow-icon color */
.x-btn.x-btn-ui-button-taskbar .x-btn-split:after {
    color: var(--wt-theme-color-n1);
}

/* ---------- Ext.form.field.Text */
/* Some wrapped inputs (eg. textarea) require radius on wrap, otherwise radiuses applied on wrapped input are NOT enought */
.x-form-text-wrap {
	border-radius: var(--wt-theme-field-radius);
}
/* Internal wrapped triggers do NOT have radius set by default, this hides external corners when using radius... */
.x-form-trigger.x-form-trigger-right.x-form-trigger-last {
    border-top-right-radius: var(--wt-theme-field-radius);
    border-bottom-right-radius: var(--wt-theme-field-radius);
}
.x-form-trigger.x-form-trigger-left.x-form-trigger-first {
    border-top-left-radius: var(--wt-theme-field-radius);
    border-bottom-left-radius: var(--wt-theme-field-radius);
}
/* Force a BG for the trigger-wrap el: this allows to hide the ugly effect on INPUT el (x-form-field) when using rounded corners */
.x-form-trigger-wrap-default {
    background-color: var(--wt-theme-color-surface-l0);
}

/* ---------- Ext.form.field.Text (some tries that does NOT work!) */
/* Do NOT apply any right-radius on INPUT el (x-form-field) when there are some right-triggers (x-form-trigger-left) */
/*
.x-form-text-wrap {
    border-radius: var(--wt-theme-field-radius);
}
.x-form-text-wrap:has(+ .x-form-trigger-right) {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.x-form-text-wrap:has(+ .x-form-trigger-right) .x-form-field {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
*/

/* ---------- Ext.form.trigger.Trigger */
.x-form-trigger.fas, .x-form-trigger.fa-solid,
.x-form-trigger.far, .x-form-trigger.fa-regular {
    background-image: none; /* Drop ExtJS's default downarrow icon' */
}

/* ---------- Ext.form.trigger.Spinner  */
/* Fix width, too large for field */
/* <-- USEFUL?
.x-form-spinner-default {
    width: 15px;
}
*/

/* ---------- Ext.grid.Panel */
.x-column-header { /* Why this???? */
    border-right: 0px solid #d4d4d4 !important; /* Neutral/300 */
}
/* Support rounded-style for Header */
.x-grid.x-grid-rounded .x-grid-header-ct {
	border-top-left-radius: var(--wt-theme-grid-radius, 0px);
	border-top-right-radius: var(--wt-theme-grid-radius, 0px);
}
/* Support rounded-style for Body */
.x-grid.x-grid-rounded .x-grid-body {
    border-bottom-left-radius: var(--wt-theme-grid-radius, 0px);
	border-bottom-right-radius: var(--wt-theme-grid-radius, 0px);
}
/* Add depth effect for rounded-style grids */
.x-grid.x-grid-rounded .x-grid-item:not(.x-grid-item-selected):not(.x-grid-item-over) {
    background-color: var(--wt-theme-color-surface-l0);
}
/* Fix hide top border when x-grid-no-border (custom class) is explict */
.x-grid .x-grid-body.x-grid-no-border {
	border-top: 0px;
}
/* Fix top-border size and apply radius only for no-header grids */
.x-grid.x-grid-header-hidden .x-grid-body:not(.x-grid-no-border) {
    border-top-width: 1px;
    /*border-radius: var(--wt-theme-grid-radius, 0px);*/
}

/* ---------- Ext.grid.RowEditorButtons */
/* Apply base background for row-editor and disarm clip applied on main element */
.x-grid-row-editor-buttons-default-bottom {
	background-color: var(--wt-theme-color-dialog);
    clip: unset !important;
}

/* ---------- Ext.grid.column.Action */
/* Adds some extra spacing between action column icons */
/* <-- USEFUL?
.x-action-col-icon {
	margin-left: 12px;
}
*/
/* Override action color only for grids */
/* <-- USEFUL?
.x-grid-view .x-action-col-icon {
    color: var(--wt-theme-color-1);
}
*/

/* ---------- Ext.menu.Menu */
/* Add border radius */
.x-menu-body { border-radius: var(--wt-theme-menu-radius); }
/* Hide unwanted vertical icon separator */
.x-menu-icon-separator {
    display: none !important;
}

/* ---------- Ext.menu.Item */
/* Fix FontAwesome icons vertical position */
/* <-- USEFUL?
.x-menu-item-icon.fas { top: 8px; }
.x-menu-item-icon.far { top: 8px; }
*/

/* ---------- Ext.panel.Panel@panel-kanbancolumn */
/* Add radius support to panel-kanbancolumn UI */
.x-panel-panel-kanbancolumn {
    border-top-left-radius: var(--so-kanbancolumn-border-radius);
    border-top-right-radius: var(--so-kanbancolumn-border-radius);
    border-bottom-left-radius: var(--so-kanbancolumn-border-radius);
    border-bottom-right-radius: var(--so-kanbancolumn-border-radius);
}
.x-panel-panel-kanbancolumn .x-panel-header {
    border-top-left-radius: var(--so-kanbancolumn-border-radius);
    border-top-right-radius: var(--so-kanbancolumn-border-radius);
}
.x-panel-panel-kanbancolumn .x-panel-header.x-panel-header-collapsed {
    border-bottom-left-radius: var(--so-kanbancolumn-border-radius);
    border-bottom-right-radius: var(--so-kanbancolumn-border-radius);
}
.x-panel-panel-kanbancolumn .x-panel-body-panel-kanbancolumn {
    border-bottom-left-radius: var(--so-kanbancolumn-border-radius);
    border-bottom-right-radius: var(--so-kanbancolumn-border-radius);
}

/* ---------- Ext.panel.Tool */
/* Expand/Collapse tools must be colored */
.x-tool-expand-left, .x-tool-expand-right, .x-tool-collapse-left, .x-tool-collapse-right {
    color: var(--wt-theme-color-1) !important;
    opacity: 1 !important;
}

/* ---------- Ext.picker.Date */
/* Center items text */
.x-datepicker-column-header-inner, .x-datepicker-date {
    text-align: center;
}
.x-datepicker-selected div.x-datepicker-date {
    border-radius: 50%;
}
/* Fix button down-arrow color and icon */
.x-datepicker .x-btn-wrap-default-small.x-btn-arrow-right:after {
    color: var(--wt-theme-color-n1);
    /*content: '\f0d7'*/
}
/* Style highlight and full dates */
.x-datepicker-cell.so-datepicker-highlighted {
    background-color: var(--wt-theme-color-ct-2);
}
.x-datepicker-cell.so-datepicker-highlighted.so-datepicker-highlighted-begin {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.x-datepicker-cell.so-datepicker-highlighted.so-datepicker-highlighted-begin.so-datepicker-highlighted-row {
    border-bottom-left-radius: 0px;
}
.x-datepicker-cell.so-datepicker-highlighted.so-datepicker-highlighted-end {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.x-datepicker-cell.so-datepicker-highlighted.so-datepicker-highlighted-end.so-datepicker-highlighted-row {
    border-top-right-radius: 0px;
}
.x-datepicker-cell.so-datepicker-fulldate > .x-datepicker-date {
    font-weight: 700 !important;
}
/* Draw rounded circle over today date */
.x-datepicker-cell.x-datepicker-today:before {
    position: absolute;
    pointer-events: none;
    display: block;
    border-radius: 50%;
    border: 1px solid var(--wt-theme-color-1);
    content: '';
    width: 27.28px;
    height: 28px;
}

/* ---------- Ext.tab.Panel */
/* Add support to radius */
.x-tab.x-tab-top {
    border-top-left-radius: var(--wt-theme-tab-radius, 0px);
    border-top-right-radius: var(--wt-theme-tab-radius, 0px);
}
.x-tab.x-tab-bottom {
    border-bottom-left-radius: var(--wt-theme-tab-radius, 0px);
    border-bottom-right-radius: var(--wt-theme-tab-radius, 0px);
}
.x-tab.x-tab-left {
    border-top-left-radius: var(--wt-theme-tab-radius, 0px);
    border-bottom-left-radius: var(--wt-theme-tab-radius, 0px);
}
.x-tab.x-tab-right {
    border-top-right-radius: var(--wt-theme-tab-radius, 0px);
    border-bottom-right-radius: var(--wt-theme-tab-radius, 0px);
}

/* Add bottom-line to selected tab */
/* <-- USEFUL?
*/
.x-tab-active:before {
    content: '';
    position: absolute;
    border-radius: 5px;
    background-color: var(--wt-theme-color-1);
}
.x-tab-top.x-tab-active:before {
    bottom: 2px;
    left: 5px;
    right: 5px;
    height: 2.5px;
}
.x-tab-bottom.x-tab-active:before {
    top: 2px;
    left: 5px;
    right: 5px;
    height: 2.5px;
}
.x-tab-left.x-tab-active:before {
    right: 2px;
    top: 5px;
    bottom: 5px;
    width: 2.5px;
}
.x-tab-right.x-tab-active:before {
    left: 2px;
    top: 5px;
    bottom: 5px;
    width: 2.5px;
}

/*
.x-tab-active:before {
    content: '';
    position: absolute;
    border-radius: 6px;
    border-bottom: 3px solid var(--wt-theme-color-1);
}
.x-tab-top.x-tab-active:before {
    bottom: 2px;
    left: 5px;
    right: 5px;
}
.x-tab-bottom.x-tab-active:before {
    top: 2px;
    left: 5px;
    right: 5px;
}
.x-tab-left.x-tab-active:before {
    right: 2px;
    top: 5px;
    bottom: 5px;
}
*/

/* ---------- Ext.tip.QuickTip */
/* Add border radius */
.x-tip-default { border-radius: var(--wt-theme-dialog-radius); }

/* ---------- Ext.tree.Panel */
/* Add rounded selection */
.x-tree-view .x-grid-item-selected { border-radius: 5px; }
.x-tree-view .x-grid-item-over { border-radius: 5px; }

/* ---------- Ext.view.BoundList */
/* Avoid borders */
.x-boundlist {
    border-style: none;
}

/* ---------- Ext.window.MessageBox */
/* Tweak styling */
.x-window.x-message-box .x-header { background-color: var(--wt-theme-color-mbox-hd); }
.x-window.x-message-box .x-toolbar-footer { background-color: var(--wt-theme-color-mbox-hd); }
/* <-- USEFUL?
.x-window.x-message-box .x-window-header { padding-left: 18px; padding-right: 8px; }
*/
.x-window.x-message-box .x-window-text {
    font-size: var(--wt-theme-fontsize-sm);
    color: var(--wt-theme-color-mbox-on);
}
.x-message-box-info { color: var(--wt-theme-color-info) !important; }
.x-message-box-warning { color: var(--wt-theme-color-warn) !important; }
.x-message-box-question { color: var(--wt-theme-color-info) !important; }
.x-message-box-error { color: var(--wt-theme-color-error) !important; }

/* ---------- Ext.window.Window */
/* (WindowsPanels/PopupPanels) Body do NOT have rounded corners by default, so the hides radius on boundary */
.x-window-body { border-radius: var(--wt-theme-dialog-radius); }

/* ---------- Sonicle.ColorUtils */
/* Customize radius and tick colors */
.so-colorswatch-rounded {
	border-radius: 5px;
	font-size: 90%;
}

/* ---------- Sonicle.form.field.ComboBox */
.so-combo-swatch-wrap {
    margin-left: 6px;
}
.so-combo-icon {
    margin-left: 6px;
}

/* ---------- Sonicle.form.field.Display */
.so-displayfield-icon {
    margin-right: 6px;
}
.so-displayfield-swatch {
    /*margin-top: 14px;*/ /* commented for fixing */
}

/* ---------- Sonicle.form.field.Image */
/* Align trigger icon on top */
.so-form-image-field-body .x-form-trigger {
    vertical-align: top;
    /*padding-top: 10px;*/
}
/* Hide field borders */
.so-form-image .x-form-trigger-wrap {
    border-color: transparent;
}

/* ---------- Sonicle.form.field.tinymce.HTMLEditor */
.so-tmcetextarea .x-form-text-field-body {
    background-color: var(--wt-theme-color-surface-l0);
}

/* ---------- Sonicle.form.Feedback */
.so-formfeedback {
    font-size: var(--wt-theme-fontsize-xs, inherit);
    line-height: var(--wt-theme-lineheight-xs, inherit);
    font-weight: var(--wt-theme-fontweight-regular, normal);
    border-radius: 4px;
}
.so-formfeedback-title {
	font-size: var(--wt-theme-fontsize-sm, inherit);
}
.so-formfeedback.so-formfeedback-accent {
	border-left-width: 5px;
}

/* ---------- Sonicle.form.FieldSection */
/* <-- USEFUL?
.so-fieldsection > .x-form-item-body {
    padding-left: 19px; /* 5px (related to label) are already there *
}
*/
/* <-- USEFUL?
.so-fieldsection .so-label-icon-el {
    margin-right: 0;
    font-size: 15px;
}
.so-fieldsection .so-item-label-iconed .x-form-item-label-inner {
    margin-top: 30px;
}
*/


/* ---------- Sonicle.form.HSpacer */
/* <-- USEFUL?
.so-form-hspacer.x-component-default {
	margin: 0 5px 0 0;
}
.so-form-hspacer.x-component-small {
	margin: 0 8px 0 0;
}
.so-form-hspacer.x-component-medium {
	margin: 0 16px 0 0;
}
.so-form-hspacer.x-component-large {
	margin: 0 24px 0 0;
}
*/

/* ---------- Sonicle.form.VSpacer */
/* <-- USEFUL?
.so-form-vspacer.x-component-default {
	margin: 8px 0 0 0;
}
.so-form-vspacer.x-component-small {
	margin: 8px 0 0 0;
}
.so-form-vspacer.x-component-medium {
	margin: 12px 0 0 0;
}
.so-form-vspacer.x-component-large {
	margin: 40px 0 0 0;
}
*/

/* ---------- Sonicle.form.Separator */
.so-form-separator .x-fieldset-header-text {
	font-size: var(--wt-theme-fontsize-base);
    font-weight: var(--wt-theme-fontweight-medium);
	color: var(--wt-theme-color-info-ct-on);
}

/* ---------- Sonicle.fullcalendar.Panel */
.so-fullcalendar > .fc {
	/*zoom: 1.1;*/
}
.so-fullcalendar-panel {
    background-color: var(--wt-theme-color-surface-l0);
}
.so-fullcalendar-panel-toolbar-month {
    gap: 16px;
    width: 260px; /* Keep nav-buttons equally spaced! */
}
.so-fullcalendar-panel-toolbar {
    margin-bottom: 12px;
}
.so-fullcalendar-panel-toolbar-hdtext {
    font-weight: var(--wt-theme-fontweight-regular);
    font-size: var(--wt-theme-fontsize-2xl);
    line-height: var(--wt-theme-lineheight-2xl);
}
.so-fullcalendar-panel-toolbar-hdtext .so-fullcalendar-panel-toolbar-hdtext-cmyo span[data-part="view-month"] {
    font-weight: var(--wt-theme-fontweight-medium);
}
/* Hide old-style borders */
.so-fullcalendar .fc-theme-standard table.fc-scrollgrid {
    border: transparent; /* Hide external (top/right) border */
}
.so-fullcalendar .fc-theme-standard div.fc-timegrid table.fc-scrollgrid td:nth-child(1),
.so-fullcalendar .fc-theme-standard th {
    border-right: transparent; /* Hide R-borders in dayviews TD[1] and THs */
}
.so-fullcalendar .fc-theme-standard div.fc-daygrid table.fc-scrollgrid td:nth-child(1) {
    border-left: 1px solid var(--fc-border-color); /* Restore L-borders in timeviews TD[1] */
}
.so-fullcalendar .fc-theme-standard .fc-col-header th {
    border-left-width: 0px;
    border-right-width: 0px;
}
/* Style week number (WXX) in month view */
.so-fullcalendar .fc-daygrid-week-number {
    background-color: var(--wt-theme-color-ct-2);
}
.so-fullcalendar .fc-more-link {
    color: var(--wt-theme-color-1) !important;
}
.so-fullcalendar .fc-col-header-cell.fc-day-today .fc-col-header-cell-cushion {
    color: var(--wt-theme-color-1) !important;
}
.so-fullcalendar .fc-daygrid-day.fc-day-today .fc-daygrid-day-number {
    color: var(--wt-theme-color-1) !important;
}
.so-fullcalendar .fc-daygrid-event,
.so-fullcalendar .fc-timegrid-event {
    border-radius: 6px;
}
.so-fullcalendar .fc-timegrid-slot-minor {
    border-top-style: solid; /* Do not use dotted style */
    /*border-top-color: #F3F4F6; /* Gray/100 */
}
/* Add padding in event content */
.so-fullcalendar .fc-timegrid .fc-event-main {
    padding: 2px;
}
.so-fullcalendar .fc-daygrid .fc-event-main {
    padding-right: 2px;
    padding-left: 2px;
}
.so-fullcalendar .so-cal-appo-icons {
    left: 4px;
    bottom: 1px;
}
.so-fullcalendar .so-cal-appo-bottomline {
    flex-basis: 10px;
}
.so-fullcalendar .fc-timegrid-event, .so-fullcalendar .fc-daygrid-event {
    font-size: 11px;
}

/* ---------- Sonicle.grid.column.Color */
/* <-- USEFUL?
.so-grid-cell-inner-colorcolumn .so-colorcolumn-text {
    margin-left: 8px;
}
*/

/* ---------- Sonicle.grid.column.Icon */
/* <-- USEFUL?
.so-grid-cell-inner-iconcolumn .so-iconcolumn-text {
    margin-left: 8px;
}
*/

/* ---------- Sonicle.grid.column.Nest */
.so-nestcolumn-hierarchysymbol {
    color: var(--wt-theme-color-n2);
}
/* <-- USEFUL?
.so-nestcolumn-wrap-root > span:nth-of-type(1), .so-nestcolumn-wrap-root > i:nth-of-type(1) {
	margin-right: 8px;
}
.so-nestcolumn-wrap-child > span:nth-of-type(1), .so-nestcolumn-wrap-child > i:nth-of-type(1) {
	margin-right: 8px;
}
*/

/* ---------- Sonicle.grid.TileList */
.so-tilelist-caption {
    font-weight: var(--wt-theme-fontweight-medium);
    font-size: var(--wt-theme-fontsize-xs);
    line-height: var(--wt-theme-lineheight-xs);
}
.so-tilelist-value {
    font-weight: var(--wt-theme-fontweight-regular);
    font-size: var(--wt-theme-fontsize-xs);
    line-height: var(--wt-theme-lineheight-xs);
}

/* ---------- Sonicle.panel.KanbanColumn */
/* Change collapse/expand icons and header color */
/* <-- USEFUL?
.x-panel-panel-kanbancolumn .x-tool-expand-bottom:before {
    content: '\f424'
}
.x-panel-panel-kanbancolumn .x-tool-collapse-top:before {
    content: '\f422'
}
.x-panel-panel-kanbancolumn .x-panel-header {
    background-color: #ffffff;
}
*/

/* ---------- Sonicle.view.BoundList */
/* <-- USEFUL?
.so-boundlist-swatchitem .so-boundlist-display {
	padding-left: 25px;
}
*/
