@import url("xtheme-override.css");
@import url("xtheme-classic-override.css");

.wt-viewport-body {}
.wt-vieport-dock { background-color: #dfe9f6; }
.wt-portal-body {}

/*
 * Background colors
 */
.wt-theme-bg1 { background-color: #ffffff; } /* Background 1 */
.wt-theme-bg2 { background-color: #dfe9f6; } /* Background 2 */
.wt-theme-bg-alt { background-color: #eff6fb; } /* Alternative background (typically with more contrast) */
.wt-theme-dialog-bg { background-color: #ced9e7; } /* Dialog background */
.wt-theme-field-bg { background-color: #ffffff; } /* Text fields background */

/*
 * Text color for body (regular, title/header)
 */
.wt-theme-text { color: #000000; }
.wt-theme-text-lighter1 { color: #4d4d4d; } /* Conventionally dark grey */
.wt-theme-text-lighter2 { color: #808080; } /* Conventionally light grey */
.wt-theme-text-ok { color: #4da07d; } /* Conventionally green */
.wt-theme-text-warn { color: #e9b665; } /* Conventionally yellow */
.wt-theme-text-error { color: #cc4b31; } /* Conventionally red */
.wt-theme-text-off { color: #b4b4b4; } /* Conventionally grey */
.wt-theme-text-alt { color: #529fbe; } /* Conventionally cyan/blue */
.wt-theme-text-header1 { color: #04468c; }
.wt-theme-text-subtitle { color: #888888; }
.wt-theme-text-hyperlink { color: #0078d7; }

/*
 * Background color for header (regular, lighten/darken)
 */
.wt-theme-header-bg { background-color: #d5e2f2; }
/*.wt-theme-header-bg-more { background-color: #dfe9f6; }*/
/*.wt-theme-header-bg-alt { background-color: #3892d4; }*/

/*
 * Text color for header (regular, alternative)
 */
.wt-theme-header-text { color: #04468c; }

/*
 * By convention, FontAwesome CSS classes used as iconCls in objects are styled 
 * as glyphs (lighter colored), like using ExtJS's glyph config. This is done in 
 * ad-hoc override in "xtheme-override.css" that applies a new opacity for all 
 * FontAwesome classes (fas, far).
 * With this class we provide a way to reset opacity to its initial value.
 */
.wt-theme-glyph-reset { opacity: initial !important; }

/*
 * Adjust action colors: base color is too light and add hover color
 */
.x-action-col-icon {
    color: #bababa; /* #666666 with alpha 0.45 */
}
.x-action-col-icon:hover {
	color: #666666;
}
/*
 * Adjust button glyph color: missing in original css definitions
 */
.x-btn-icon-el {
	color: #666666;
}
/* Adjust menu buttongroup items centering */
.wt-menu-bgroup-body > .x-table-layout {
	margin: auto;
}
/*
 * Adjust colorsquare tick centering
 */
.wt-tree-colorsquare-framed.x-tree-checkbox-checked:after {
    top: -0px;
}
.wt-tree-colorsquare-default.x-tree-checkbox-checked:after {
    top: -1px;
}
