
.wt-viewport-body {}
.wt-vieport-dock { background-color: #fafafa; }
.wt-portal-body { background-color: #e0ebf3; }

/*
 * Background color for body (regular, lighten/darken, alternative)
 */
.wt-theme-bg { background-color: #fff; }
.wt-theme-bg-more { background-color: #fafafa; }
.wt-theme-bg-alt { background-color: #fafafa; } /*???????????*/

/*
 * Text color for body (regular, title/header)
 */
.wt-theme-text { color: #000; }
.wt-theme-text-greyed { color: #808080; }
.wt-theme-text-tit { color: #157fcc; }
.wt-theme-text-sub { color: #888; }
.wt-theme-text-lnk { color: #0078d7; }

/*
 * Background color for header (regular, lighten/darken, alternative)
 */
.wt-theme-header-bg { background-color: #fafafa; }
.wt-theme-header-bg-more { background-color: #e6e6e6; }
.wt-theme-header-bg-alt { background-color: #3892d4; }

/*
 * Text color for header (regular, alternative)
 */
.wt-theme-header-text { color: #157fcc; } /* regular */
.wt-theme-header-text-alt { color: #fff; } /* contrast */





/*
 * Background: 1:light, 2:medium/less-light, 3:dark/alternative
 * Generally light to not provide excessive contrast
 */
.wt-theme-bg-1 { background-color: #ffffff; }
.wt-theme-bg-2 { background-color: #fafafa; }
.wt-theme-bg-3 { background-color: #fafafa; }

/*
 * Header colors: 1:light, 2:medium, 3:dark
 */
.wt-theme-hd-1 { background-color: #fafafa; }
.wt-theme-hd-2 { background-color: #e6e6e6; }
.wt-theme-hd-3 { background-color: #cfcfcf; }

.wt-theme-txt-hi { color: #157fcc; }
