/* Pretty folder icons */
.x-grid-item .x-grid-cell-inner-treecolumn .x-tree-icon { background-image: url(folder_16.svg); background-size: contain; }
.x-grid-item .x-grid-cell-inner-treecolumn .x-tree-icon-parent { background-image: url(folder_16.svg); background-size: contain; }
.x-grid-item .x-grid-cell-inner-treecolumn .x-tree-icon-leaf { background-image: url(folder_16.svg); background-size: contain; }
.x-grid-item .x-grid-tree-node-expanded .x-tree-icon { background-image: url(folder-open_16.svg); background-size: contain; }

/* Avoids annoying focus border on focused cells */
.x-grid-item-focused .x-grid-cell-inner:before { display: none; }

/* ActionColumn: adds some extra spacing between action column icons */
.x-action-col-icon {
	margin-left: 4px;
	margin-right: 4px;
	color: #a9a9a9;
}

/* ActionColumn: adds hover color */
.x-action-col-icon:hover {
	color: #666;
}

/* Fix disabled style for fieldsets */
.x-fieldset.x-item-disabled {
	opacity: 0.3
}

.x-toolbar .x-toolbar-item {
    margin-right: 2px;
}

.x-toolbar .x-toolbar-separator-horizontal {
	margin-left: 2px !important;
    margin-right: 4px !important;
	padding-right: 2px !important;
}

.x-grid-empty {
	text-align: center;
}