
.wt-viewport-body { border-color: #3892d4; }
.wt-vieport-dock { background-color: #dfeaf2; }
.wt-portal-body { background-color: #fafafa; }

/*
 * Background color for body (regular, lighten/darken, alternative)
 */
.wt-theme-bg { background-color: #fff; }
.wt-theme-bg-more { background-color: #dfeaf2; }
.wt-theme-bg-alt { background-color: #3892d3; }/*???????????*/

/*
 * Text color for body (regular, title/header)
 */
.wt-theme-text { color: #000; }
.wt-theme-text-greyed { color: #808080; }
.wt-theme-text-ok { color: #4DA07D; }
.wt-theme-text-warn { color: #E9B665; }
.wt-theme-text-error { color: #CC4B31; }
.wt-theme-text-tit { color: #157fcc; }
.wt-theme-text-sub { color: #888; }
.wt-theme-text-lnk { color: #0078d7; }
.wt-theme-text-small20 { font-size:0.8em; }

/*
 * Background color for header (regular, lighten/darken, alternative)
 */
.wt-theme-header-bg { background-color: #157fcc; }
.wt-theme-header-bg-more { background-color: #3892d4; }
.wt-theme-header-bg-alt { background-color: #e6e6e6; }

/*
 * Text color for header (regular, alternative)
 */
.wt-theme-header-text { color: #fff; }
.wt-theme-header-text-alt { color: #157fcc; }





/*
 * Background: 1:light, 2:medium/less-light, 3:dark/alternative
 * Generally light to not provide excessive contrast
 */
.wt-theme-bg-1 { background-color: #ffffff; }
.wt-theme-bg-2 { background-color: #dfeaf2; }
.wt-theme-bg-3 { background-color: #3892d3; }

/*
 * Header colors: 1:light, 2:medium, 3:dark
 */
.wt-theme-hd-1 { background-color: #dfeaf2; }
.wt-theme-hd-2 { background-color: #5fa7db; }
.wt-theme-hd-3 { background-color: #157fcc; }

.wt-theme-txt-hi { color: #157fcc; }
