@import url("xtheme-override.css");

.wt-viewport-body { border-color: #3892d4; }
.wt-vieport-dock { background-color: #dfeaf2; }
.wt-portal-body { background-color: #fafafa; }

/*
 * Background colors
 */
.wt-theme-bg1 { background-color: #ffffff; } /* Background 1 */
.wt-theme-bg2 { background-color: #dfeaf2; } /* Background 2 */
.wt-theme-bg-alt { background-color: #eff6fb; } /* Alternative background (typically with more contrast) */
.wt-theme-dialog-bg { background-color: #ffffff; } /* Dialog background */
.wt-theme-field-bg { background-color: #ffffff; } /* Text fields background */

/*
 * Text color for body (regular, title/header)
 */
.wt-theme-text { color: #000000; }
.wt-theme-text-lighter1 { color: #4d4d4d; } /* Conventionally dark grey */
.wt-theme-text-lighter2 { color: #808080; } /* Conventionally light grey */
.wt-theme-text-ok { color: #4da07d; } /* Conventionally green */
.wt-theme-text-warn { color: #e9b665; } /* Conventionally yellow */
.wt-theme-text-error { color: #cc4b31; } /* Conventionally red */
.wt-theme-text-off { color: #b4b4b4; } /* Conventionally grey */
.wt-theme-text-alt { color: #529fbe; } /* Conventionally cyan/blue */
.wt-theme-text-header1 { color: #157fcc; }
.wt-theme-text-subtitle { color: #888888; }
.wt-theme-text-hyperlink { color: #0078d7; }

/*
 * Background color for header (regular, lighten/darken, alternative)
 */
.wt-theme-header-bg { background-color: #157fcc; }
/*.wt-theme-header-bg-more { background-color: #3892d4; }*/
/*.wt-theme-header-bg-alt { background-color: #e6e6e6; }*/

/*
 * Text color for header (regular, alternative)
 */
.wt-theme-header-text { color: #fff; }

/*
 * By convention, FontAwesome CSS classes used as iconCls in objects are styled 
 * as glyphs (lighter colored), like using ExtJS's glyph config. This is done in 
 * ad-hoc override in "xtheme-override.css" that applies a new opacity for all 
 * FontAwesome classes (fas, far).
 * With this class we provide a way to reset opacity to its initial value.
 */
.wt-theme-glyph-reset { opacity: initial !important; }

/*
 * Adjust action colors: base color is too light and add hover color
 */
.x-action-col-icon {
    color: #bababa; /* #666666 with alpha 0.45 */
}
.x-action-col-icon:hover {
	color: #666666;
}
/*
 * Adjust colorsquare tick centering
 */
.wt-tree-colorsquare-framed.x-tree-checkbox-checked:after {
    top: 0px;
}
.wt-tree-colorsquare-default.x-tree-checkbox-checked:after {
    top: -1px;
}
/*
 * Flatten viewport toolbars
 */
.wt-vieport-dock .x-btn-default-toolbar-large {
    border-color: #dfeaf2 !important;
    background-color: #dfeaf2 !important;
    background-image: none !important;
}
.wt-vieport-dock .x-btn-default-toolbar-large.x-btn-over {
	background-color: #cedfeb !important;
}
.wt-vieport-dock .x-btn-default-toolbar-medium {
    border-color: #dfeaf2 !important;
    background-color: #dfeaf2 !important;
    background-image: none !important;
}
.wt-vieport-dock .x-btn-default-toolbar-medium.x-btn-over {
	background-color: #cedfeb !important;
}
.wt-vieport-dock .x-btn-default-toolbar-small {
    border-color: #dfeaf2 !important;
    background-color: #dfeaf2 !important;
    background-image: none !important;
}
.wt-vieport-dock .x-btn-default-toolbar-small.x-btn-over {
	background-color: #cedfeb !important;
}
