/*
	The purpose of this CSS file is to contain all platform 
	specific styles (eg. wt-* classes) and default overrides 
	valid for all extjs themes.

	Specific platform styles contained below can be overridden
	in dedicated CSS files to the overriding (eg. override-
	crisp.css or override-crisp-touch.css).
*/

/* SERVICE ICONS */
.wt-icon-service-xs { background-image: url('service_16.png') !important; }
.wt-icon-service-s { background-image: url('service_24.png') !important; }
.wt-icon-service-m { background-image: url('service_32.png') !important; }
.wt-icon-service-l { background-image: url('service_48.png') !important; }
.wt-icon-portal-xs { background-image: url('portal_16.png') !important; }
.wt-icon-portal-s { background-image: url('portal_24.png') !important; }
.wt-icon-portal-m { background-image: url('portal_32.png') !important; }
.wt-icon-portal-l { background-image: url('portal_48.png') !important; }

.wt-icon-empty { background-image: url('empty.png') !important;}
.wt-icon-empty-xs { width: 16px; height: 16px; background-image: url('empty.png') !important;}
.wt-icon-empty-s { width: 24px; height: 24px; background-image: url('empty.png') !important;}
.wt-icon-empty-m { width: 32px; height: 32px; background-image: url('empty.png') !important;}
.wt-icon-empty-l { width: 48px; height: 48px; background-image: url('empty.png') !important;}

.wt-icon-feedback { background-image: url('feedback_16.svg') !important; background-size: contain; }
.wt-icon-whatsnew { background-image: url('whatsnew_16.svg') !important; background-size: contain; }
.wt-icon-addons { background-image: url('addons_16.svg') !important; background-size: contain; }
.wt-icon-changePassword-xs { background-image: url('password_16.png') !important; }
.wt-icon-options { background-image: url('options_16.svg') !important; background-size: contain; }
.wt-icon-reminder-xs { background-image: url('reminder_16.png') !important; }
.wt-icon-activity-xs { background-image: url('activity_16.png') !important; }
.wt-icon-activity-ro-xs { background-image: url('lock_16.png') !important; }
.wt-icon-causal-xs { background-image: url('causal_16.png') !important; }
.wt-icon-causal-ro-xs { background-image: url('lock_16.png') !important; }
.wt-icon-sharing-xs { background-image: url('sharing_16.png') !important; }
.wt-icon-sharing { background-image: url('sharing_16.svg') !important; background-size: contain; }
.wt-icon-notification { background-image: url('notification_16.svg') !important; background-size: contain; }
.wt-icon-notification-remove-xs { background-image: url('notification-remove_16.png') !important; }
.wt-icon-im-chat-hot { background-image: url('im-chat-hot_16.svg') !important; background-size: contain; }
.wt-icon-im-chat-xs { background-image: url('im-chat_16.png') !important; }
.wt-icon-im-chat-m { background-image: url('im-chat_32.png') !important; }
.wt-icon-im-chat-hot-xs { background-image: url('im-chat-hot_16.png') !important; }
.wt-icon-im-ichat-xs { background-image: url('im-ichat_16.png') !important; }
.wt-icon-im-ichat-hot-xs { background-image: url('im-ichat-hot_16.png') !important; }
.wt-icon-im-gchat-xs { background-image: url('im-gchat_16.png') !important; }
.wt-icon-im-gchat-hot-xs { background-image: url('im-gchat-hot_16.png') !important; }
.wt-icon-im-status-online { background-image: url('im-status-online_16.svg') !important; background-size: contain; }
.wt-icon-im-status-away { background-image: url('im-status-away_16.svg') !important; background-size: contain; }
.wt-icon-im-status-dnd { background-image: url('im-status-dnd_16.svg') !important; background-size: contain; }
.wt-icon-im-status-offline { background-image: url('im-status-offline_16.svg') !important; background-size: contain; }
.wt-icon-im-pstatus-online { background-image: url('im-pstatus-online_16.svg') !important; background-size: contain; }
.wt-icon-im-pstatus-away { background-image: url('im-pstatus-away_16.svg') !important; background-size: contain; }
.wt-icon-im-pstatus-dnd { background-image: url('im-pstatus-dnd_16.svg') !important; background-size: contain; }
.wt-icon-im-pstatus-offline { background-image: url('im-pstatus-offline_16.svg') !important; background-size: contain; }
.wt-icon-audio-call { background-image: url('audio-call_16.svg') !important; background-size: contain; }
.wt-icon-video-call { background-image: url('video-call_16.svg') !important; background-size: contain; }

.wt-menu-userdetails-main {
	padding: 5px 0 0 5px;
	font-weight: bold;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.wt-menu-userdetails-sub {
	padding: 0 0 0 10px;
	color: #bdbdbd;
	font-size: 90%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.wt-menu-bgroup-body .x-table-layout {}
.wt-menu-feedback { background-image: url('feedback_16.svg') !important; background-size: contain; width: 32px; }
.wt-menu-whatsnew { background-image: url('whatsnew_16.svg') !important; background-size: contain; width: 32px; }
.wt-menu-options { background-image: url('options_16.svg') !important; background-size: contain; width: 32px; }
.wt-menu-addons { background-image: url('addons_16.svg') !important; background-size: contain; width: 32px; }
.wt-menu-help { background-image: url('help_16.svg') !important; background-size: contain; width: 32px; }
.wt-menu-logout { background-image: url('logout-disabled_16.png') !important; width: 16px; }
.wt-menu-tools { background-image: url('toolbox_16.png') !important; }
.x-btn-over .wt-menu-logout { background-image: url('logout_16.png') !important; width: 16px; }

/* Platform ICONS */
.wt-icon-platform-win { background-image: url('platform-win_16.svg') !important; background-size: contain; }
.wt-icon-platform-mac { background-image: url('platform-mac_16.svg') !important; background-size: contain; }
.wt-icon-ok-xs { background-image: url('ok_16.png') !important; }
.wt-icon-cancel-xs { background-image: url('cancel_16.png') !important; }
.wt-icon-add-xs { background-image: url('add_16.png') !important; }
.wt-icon-edit-xs { background-image: url('edit_16.png') !important; }
.wt-icon-remove-xs { background-image: url('remove_16.png') !important; }
.wt-icon-delete { background-image: url('delete_16.svg') !important; background-size: contain; }
.wt-icon-restore-xs { background-image: url('restore_16.png') !important; }
.wt-icon-block-xs { background-image: url('block_16.png') !important; }
.wt-icon-lock-xs { background-image: url('lock_16.png') !important; }
.wt-icon-unlock-xs { background-image: url('unlock_16.png') !important; }
.wt-icon-search-xs { background-image: url('search_16.png') !important; }
.wt-icon-search-adv { background-image: url('search-adv_32.svg') !important; background-size: contain; }
.wt-icon-search-multi { background-image: url('search-multi_16.svg') !important; background-size: contain; }
.wt-icon-history-xs { background-image: url('history_16.png') !important; }
.wt-icon-info-xs { background-image: url('info_16.png') !important; }
.wt-icon-snooze-xs { background-image: url('snooze_16.png') !important; }
.wt-icon-attach { background-image: url('attach_16.svg') !important; background-size: contain; }
.wt-icon-attach-xs { background-image: url('attach_16.png') !important; }
.wt-icon-panel-bottom-xs { background-image: url('panel-bottom_16.png') !important; }
.wt-icon-panel-left-xs { background-image: url('panel-left_16.png') !important; }
.wt-icon-panel-right-xs { background-image: url('panel-right_16.png') !important; }
.wt-icon-panel-top-xs { background-image: url('panel-top_16.png') !important; }
.wt-icon-print { background-image: url('print_16.svg') !important; background-size: contain; }
.wt-icon-call-xs { background-image: url('call_16.png') !important; }
.wt-icon-sms-xs { background-image: url('sms_16.svg') !important; }
.wt-icon-refresh { background-image: url('refresh_16.svg') !important; background-size: contain; }
.wt-icon-save-xs { background-image: url('save_16.png') !important; }
.wt-icon-saveClose-xs { background-image: url('save-close_16.png') !important; }
.wt-icon-save-all-xs { background-image: url('save_all_16.png') !important; }
.wt-icon-save-new-xs { background-image: url('save-new_16.png') !important; }
.wt-icon-select-all-xs { background-image: url('select-all_16.png') !important; }
.wt-icon-select-none-xs { background-image: url('select-none_16.png') !important; }
.wt-icon-select-one-xs { background-image: url('select-one_16.png') !important; }
.wt-icon-select-all { background-image: url('select-all_16.svg') !important; background-size: contain; }
.wt-icon-select-none { background-image: url('select-none_16.svg') !important; background-size: contain; }
.wt-icon-select-one { background-image: url('select-one_16.svg') !important; background-size: contain; }
.wt-icon-item-enable-xs { background-image: url('item-enable_16.png') !important; }
.wt-icon-item-disable-xs { background-image: url('item-disable_16.png') !important; }
.wt-icon-item-disabled-xs { background-image: url('item-disabled_16.png') !important; }
.wt-icon-item-hide-xs { background-image: url('item-hide_16.png') !important; }
.wt-icon-file-upload-xs { background-image: url('file-upload_16.png') !important; }
.wt-icon-file-download-xs { background-image: url('file-download_16.png') !important; }
.wt-icon-permission-denied { background-image: url('permission-denied_16.svg') !important; background-size: contain; }
.wt-icon-permission-allowed { background-image: url('permission-allowed_16.svg') !important; background-size: contain; }
.wt-icon-permission-denied-gray { background-image: url('permission-denied-gray_16.svg') !important; background-size: contain; }
.wt-icon-permission-allowed-gray { background-image: url('permission-allowed-gray_16.svg') !important; background-size: contain; }
.wt-icon-permission-locked-gray { background-image: url('padlock-close-gray_32.svg') !important; background-size: contain; }
.wt-icon-permission-unlocked-gray { background-image: url('padlock-open-gray_32.svg') !important; background-size: contain; }
.wt-icon-traffic-light-green-xs { background-image: url('traffic-light-green_16.png') !important; }
.wt-icon-traffic-light-orange-xs { background-image: url('traffic-light-orange_16.png') !important; }
.wt-icon-traffic-light-red-xs { background-image: url('traffic-light-red_16.png') !important; }
.wt-icon-browser-authorize { background-image: url('browser-authorize_16.svg') !important; background-size: contain; }
.wt-icon-emoji { background-image: url('emoji_16.svg') !important; background-size: contain; }
.wt-icon-clipboard-paste { background-image: url('clipboard-paste_16.svg') !important; background-size: contain; }

/* Formatting buttons */
.wt-icon-format-bold-xs { background-image: url('format-bold_16.png') !important; }
.wt-icon-format-italic-xs { background-image: url('format-italic_16.png') !important; }
.wt-icon-format-underline-xs { background-image: url('format-underline_16.png') !important; }
.wt-icon-format-forecolor-xs { background-image: url('format-forecolor_16.png') !important; }
.wt-icon-format-emoticon-xs { background-image: url('format-emoticon_16.png') !important; }
.wt-icon-format-backcolor-xs { background-image: url('format-backcolor_16.png') !important; }
.wt-icon-format-justifyleft-xs { background-image: url('format-justifyleft_16.png') !important; }
.wt-icon-format-justifycenter-xs { background-image: url('format-justifycenter_16.png') !important; }
.wt-icon-format-justifyright-xs { background-image: url('format-justifyright_16.png') !important; }
.wt-icon-format-createlink-xs { background-image: url('format-createlink_16.png') !important; }
.wt-icon-format-unlink-xs { background-image: url('format-unlink_16.png') !important; }
.wt-icon-format-insertorderedlist-xs { background-image: url('format-insertorderedlist_16.png') !important; }
.wt-icon-format-insertunorderedlist-xs { background-image: url('format-insertunorderedlist_16.png') !important; }
.wt-icon-format-sourceedit-xs { background-image: url('format-sourceedit_16.png') !important; }
.wt-icon-format-clean-xs { background-image: url('format-clean_16.png') !important; }
.wt-icon-format-insertimageurl-xs { background-image: url('format-insertimageurl_16.png') !important; }

/* Palette ICONS */
.wt-palette-AC725E { background-image: url('palette/AC725E.png') !important; }
.wt-palette-D06B64 { background-image: url('palette/D06B64.png') !important; }
.wt-palette-F83A22 { background-image: url('palette/F83A22.png') !important; }
.wt-palette-FA573C { background-image: url('palette/FA573C.png') !important; }
.wt-palette-FF7537 { background-image: url('palette/FF7537.png') !important; }
.wt-palette-FFAD46 { background-image: url('palette/FFAD46.png') !important; }
.wt-palette-FAD165 { background-image: url('palette/FAD165.png') !important; }
.wt-palette-FBE983 { background-image: url('palette/FBE983.png') !important; }
.wt-palette-B3DC6C { background-image: url('palette/B3DC6C.png') !important; }
.wt-palette-7BD148 { background-image: url('palette/7BD148.png') !important; }
.wt-palette-16A765 { background-image: url('palette/16A765.png') !important; }
.wt-palette-42D692 { background-image: url('palette/42D692.png') !important; }
.wt-palette-92E1C0 { background-image: url('palette/92E1C0.png') !important; }
.wt-palette-9FE1E7 { background-image: url('palette/9FE1E7.png') !important; }
.wt-palette-9FC6E7 { background-image: url('palette/9FC6E7.png') !important; }
.wt-palette-4986E7 { background-image: url('palette/4986E7.png') !important; }
.wt-palette-9A9CFF { background-image: url('palette/9A9CFF.png') !important; }
.wt-palette-B99AFF { background-image: url('palette/B99AFF.png') !important; }
.wt-palette-A47AE2 { background-image: url('palette/A47AE2.png') !important; }
.wt-palette-CD74E6 { background-image: url('palette/CD74E6.png') !important; }
.wt-palette-F691B2 { background-image: url('palette/F691B2.png') !important; }
.wt-palette-CCA6AC { background-image: url('palette/CCA6AC.png') !important; }
.wt-palette-CABDBF { background-image: url('palette/CABDBF.png') !important; }
.wt-palette-C2C2C2 { background-image: url('palette/C2C2C2.png') !important; }
.wt-palette-FFFFFF { background-image: url('palette/FFFFFF.png') !important; }

.wt-ftype-archive-xs { background-image: url('ftypes/archive_16.png') }
.wt-ftype-archive-s { background-image: url('ftypes/archive_24.png') }
.wt-ftype-archive-m { background-image: url('ftypes/archive_32.png') }
.wt-ftype-audio-xs { background-image: url('ftypes/audio_16.png') }
.wt-ftype-audio-s { background-image: url('ftypes/audio_24.png') }
.wt-ftype-audio-m { background-image: url('ftypes/audio_32.png') }
.wt-ftype-document-excel-xs { background-image: url('ftypes/document-excel_16.png') }
.wt-ftype-document-excel-s { background-image: url('ftypes/document-excel_24.png') }
.wt-ftype-document-excel-m { background-image: url('ftypes/document-excel_32.png') }
.wt-ftype-document-pdf-xs { background-image: url('ftypes/document-pdf_16.png') }
.wt-ftype-document-pdf-s { background-image: url('ftypes/document-pdf_24.png') }
.wt-ftype-document-pdf-m { background-image: url('ftypes/document-pdf_32.png') }
.wt-ftype-document-word-xs { background-image: url('ftypes/document-word_16.png') }
.wt-ftype-document-word-s { background-image: url('ftypes/document-word_24.png') }
.wt-ftype-document-word-m { background-image: url('ftypes/document-word_32.png') }
.wt-ftype-document-xs { background-image: url('ftypes/document_16.png') }
.wt-ftype-document-s { background-image: url('ftypes/document_24.png') }
.wt-ftype-document-m { background-image: url('ftypes/document_32.png') }
.wt-ftype-file-xs { background-image: url('ftypes/file_16.png') }
.wt-ftype-file-s { background-image: url('ftypes/file_24.png') }
.wt-ftype-file-m { background-image: url('ftypes/file_32.png') }
.wt-ftype-folder-xs { background-image: url('ftypes/folder_16.png') }
.wt-ftype-folder-s { background-image: url('ftypes/folder_24.png') }
.wt-ftype-folder-m { background-image: url('ftypes/folder_32.png') }
.wt-ftype-folderroot-xs { background-image: url('ftypes/folderroot_16.png') }
.wt-ftype-folderroot-s { background-image: url('ftypes/folderroot_24.png') }
.wt-ftype-folderroot-m { background-image: url('ftypes/folderroot_32.png') }
.wt-ftype-image-xs { background-image: url('ftypes/image_16.png') }
.wt-ftype-image-s { background-image: url('ftypes/image_24.png') }
.wt-ftype-image-m { background-image: url('ftypes/image_32.png') }
.wt-ftype-message-xs { background-image: url('ftypes/message_16.png') }
.wt-ftype-message-s { background-image: url('ftypes/message_24.png') }
.wt-ftype-message-m { background-image: url('ftypes/message_32.png') }
.wt-ftype-text-html-xs { background-image: url('ftypes/text-html_16.png') }
.wt-ftype-text-html-s { background-image: url('ftypes/text-html_24.png') }
.wt-ftype-text-html-m { background-image: url('ftypes/text-html_32.png') }
.wt-ftype-text-xs { background-image: url('ftypes/text_16.png') }
.wt-ftype-text-s { background-image: url('ftypes/text_24.png') }
.wt-ftype-text-m { background-image: url('ftypes/text_32.png') }
.wt-ftype-video-xs { background-image: url('ftypes/video_16.png') }
.wt-ftype-video-s { background-image: url('ftypes/video_24.png') }
.wt-ftype-video-m { background-image: url('ftypes/video_32.png') }
.wt-ftype-script-xs { background-image: url('ftypes/script_16.png') }
.wt-ftype-script-s { background-image: url('ftypes/script_24.png') }
.wt-ftype-script-m { background-image: url('ftypes/script_32.png') }
.wt-ftype-application-xs { background-image: url('ftypes/application_16.png') }
.wt-ftype-application-s { background-image: url('ftypes/application_24.png') }
.wt-ftype-application-m { background-image: url('ftypes/application_32.png') }
.wt-ftype-calendar-xs { background-image: url('ftypes/calendar_16.png') }
.wt-ftype-calendar-s { background-image: url('ftypes/calendar_24.png') }
.wt-ftype-calendar-m { background-image: url('ftypes/calendar_32.png') }

.wt-grid-header-icon {
	background-repeat: no-repeat;
	background-position: center;
}
.wt-img-xs {
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.wt-img-s {
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
}
.wt-img-m {
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
}
.wt-img-l {
	background-repeat: no-repeat;
	width: 48px;
	height: 48px;
}

.wt-tree-node-bold {
	font-weight: bold;
}
.wt-tree-node-grey {
	color: grey;
}

.wt-header { /* Override this in service-{theme}.css file */ }
.wt-launcher { /* Override this in service-{theme}.css file */ }
.wt-portal { /* Override this in service-{theme}.css file */ }

/* WHATSNEW */
.wt-whatsnew {
	padding: 10px;
	font-family: Helvetica, Arial, sans-serif;
}
.wt-whatsnew > div.wt-wntitle:first-child {
	margin-top: 0;
}
div.wt-wntitle {
	margin-top: 1em;
	/*font-size: 220%;*/
	font-size: 150%;
	font-weight: bold;
}
div.wt-wnsubtitle {
	margin-top: 0em;
	/*font-size: 130%;*/
	font-size: 110%;
	font-family: Georgia,"Times New Roman",Times,serif;
	font-style: italic;
	color: #797c80;
}
div.wt-wnlist {
	margin-top: 1em;
	/*font-size: 110%;*/
}
.wt-wnlist ul {
	padding-left: 30px;
}
.wt-wnlist ul li {
	list-style: initial;
}
.wt-wnlist ul li h1, .wt-wnlist ul li h2, .wt-wnlist ul li h3 {
	margin-top: .2em;
	font-size: 110%;
	font-weight: bold;
}
.wt-wnlist ul li p {
	margin-bottom: .5em;
}
.wt-wnlist ul li img {
	padding: .2em;
	margin-bottom: .5em;
	background-color: #fff;
	box-shadow: 2px 2px 5px #e1e1e1;
	border: solid 1px #ccc;
}


.wt-setting-grid .x-grid-rowbody p {
	font-size: smaller;
	margin: .2em 0;
}

.x-toolbar .x-toolbar-item {
    margin-right: 2px;
}

.x-toolbar .x-toolbar-separator-horizontal {
	margin-left: 2px !important;
    margin-right: 4px !important;
	padding-right: 2px !important;
}

/* NotificationButton */
.wt-notifbtn-grid-rowbody {
	color: gray;
}

.wt-notifbtn-grid-rowbody-empty {
	display: none;
}

/* ExtJs */
.wt-v-middle {
	vertical-align: middle;
}

.wt-bold {
	font-weight: bold;
}

.wt-selectable {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.wt-no-opacity {
	opacity: 1 !important;
}
.wt-color-success {
	color: #3f9c35 !important;
}
.wt-color-warn {
	color: #ec7a08 !important;
}
.wt-color-alert {
	color: #c00 !important;
}

.wt-doced-switch-btn .x-btn-inner {
	color: #e60000 !important;
}

/* TinyMCE */
.mce-tinymce.mce-container {
	border-width: 0px !important;
}

.wt-chatmsgcol-sysmsg {
	position: relative;
	line-height: 15px;
	padding: 5px;
    margin-left: auto;
	margin-right: auto;
	max-width: 85%;
	border-radius: 5px;
	color: rgba(69,90,100,0.95);
	clear: both;
	white-space: pre-wrap;
	word-wrap: break-word;
	text-align: center;
}

.wt-chatmsgcol-sysmsg.wt-chatmsgcol-sysmsg-info {
	background-color: rgba(225,245,254,0.92);
}

.wt-chatmsgcol-sysmsg.wt-chatmsgcol-sysmsg-warn {
	background-color: rgba(255,245,196,0.95);
}

.wt-chatmsgcol-sysmsg > span:before {
	content: attr(data-content);
}

.wt-chatmsgcol-hidmeta {
	position: absolute;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
}

.wt-chatmsgcol-msg {
	position: relative;
	line-height: 15px;
	padding: 5px;
	max-width: 85%;
	color: #000;
	clear: both;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.wt-chatmsgcol-msg:after {
	position: absolute;
	border-style: solid;
	width: 0;
	height: 0;
	content: "";
}

.wt-chatmsgcol-msg.wt-chatmsgcol-msg-received {
	float: left;
	margin-left: 10px;
	border-radius: 0px 5px 5px 5px;
	background-color: #fafafa;
}

.wt-chatmsgcol-msg.wt-chatmsgcol-msg-received:after {
	top: 0;
	left: -10px;
	border-width: 0px 10px 10px 0;
	border-color: transparent #fafafa transparent transparent;
}

.wt-chatmsgcol-msg.wt-chatmsgcol-msg-sent {
	float: right;
	margin-right: 10px;
	border-radius: 5px 0px 5px 5px;
	background-color: #f8f8c8;
	/*background-color: #f1e7c2;*/
	/*background: #e1ffc7;*//*WhatsApp color*/
}

.wt-chatmsgcol-msg.wt-chatmsgcol-msg-sent:after {
	top: 0;
	right: -10px;
	border-width: 0px 0 10px 10px;
	border-color: transparent transparent transparent #f8f8c8;
	/*border-color: transparent transparent transparent #f1e7c2;*/
	/*border-color: transparent transparent transparent #e1ffc7;*//*WhatsApp color*/
}

.wt-chatmsgcol-msg-text a {
	text-decoration: underline;
	color: #039be5;
}

.wt-chatmsgcol-sender {
	display: inline-block;
	position: relative;
	top: -4px;
	padding: 0 7px 0 0;
	font-size:0.9em;
	color: grey;
}

.wt-chatmsgcol-sender:before {
	content: attr(data-content);
}

.wt-chatmsgcol-msgmeta {
	display: inline-block;
	position: relative;
	bottom: -4px;
	float: right;
	padding: 0 0 0 7px;
	font-size:0.8em;
	color: grey;
}

.wt-chatmsgcol-msgmeta > span:before {
	content: attr(data-content);
}

.wt-chatmsgcol-filemeta {
	display: inline-block;
	position: relative;
	bottom: -4px;
	float: left;
	padding: 0 7px 0 0;
	font-size:0.8em;
	color: grey;
}

.wt-chatmsgcol-filemeta:before {
	content: attr(data-content);
}

.wt-chatmsgcol-filewrap {
	display: block;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    box-sizing: border-box;
    /*border: 1px solid rgba(75,89,97,0.1);*/
	background-color: rgba(75,89,97,0.1);
	text-decoration: none;
	color: #262626;
}

.wt-chatmsgcol-filebody {
	-webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 20px 4px;
	/*
	padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 19px;
    padding-right: 19px;
	*/
    height: 34px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}

.wt-chatmsgcol-filebody .wt-chatmsgcol-filebody-icon {
	float: left;
	width: 32px;
	height: 32px;
}

.wt-chatmsgcol-filebody .wt-chatmsgcol-filebody-text {
	margin-left: 5px;
}

.wt-chatmsgcol-imgfilebody {
	display: -webkit-flex;
	display: flex;
	position: relative;
	overflow: hidden;
	-webkit-align-items: center;
	align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
	max-height: 250px;
}

.wt-chatmsgcol-imgfilebody img {
	max-width: 250px;
}


.so-rtc-lvideo {
	position: absolute;
	width: 200px;
	bottom: 0;
	right: 0;
	margin: 1em;
}

.so-rtc-rvideo {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
