@import url("wtheme-classic-override.css");

.wt-tool-hd-wrap {
	background-image: -webkit-linear-gradient(top, #dfe9f5, #d3e1f1);
}

.wt-fieldspanel .x-panel-bodyWrap .x-panel-body:first-child {
	background: none;
}


.x-toolbar-default {padding-left: 6px;}

.wt-modelview-toolbar { padding-right: 6px; }