@import url("xtheme-override.css");
@import url("xtheme-triton-override.css");

.wt-viewport-content {}
.wt-vieport-dock { background-color: #fafafa; }
.wt-viewport-navbar-watermark { width: 0; }
.wt-viewport-navbar { background-color: #fafafa; }
.wt-portal-body { background-color: #e0ebf3; }

/*
 * Adjust action colors: base color is too light and add hover color
 */
.x-action-col-icon {
    color: #c2c2c2; /* #666666 with alpha 0.4 */
}
.x-action-col-icon:hover {
	color: #666666;
}
/*
 * Flatten viewport toolbars
 */
.wt-viewport-navbar .x-btn-default-toolbar-large {
    border-color: #fafafa !important;
    background-color: #fafafa !important;
}
.wt-viewport-navbar .x-btn-default-toolbar-large.x-btn-over {
	background-color: #ededed !important;
}
.wt-viewport-navbar .x-btn-default-toolbar-medium {
    border-color: #fafafa !important;
    background-color: #fafafa !important;
}
.wt-viewport-navbar .x-btn-default-toolbar-medium.x-btn-over {
	background-color: #ededed !important;
}
.wt-viewport-navbar .x-btn-default-toolbar-small {
    border-color: #fafafa !important;
    background-color: #fafafa !important;
}
.wt-viewport-navbar .x-btn-default-toolbar-small.x-btn-over {
	background-color: #ededed !important;
}

.x-btn-default-toolbar-small {
	background-color: transparent;
	border-color: transparent;
}

.x-btn-default-toolbar-small.x-btn-over {
	background-color: #ededed !important;
	border-color: transparent;
}

.x-btn-default-toolbar-small.x-btn-pressed {
	border-color: transparent !important;
	background-color: #d2d2d2 !important;
}

.x-btn-default-toolbar-medium {
	background-color: transparent;
	border-color: transparent;
}

.x-btn-default-toolbar-medium.x-btn-over {
	background-color: #ededed !important;
	border-color: transparent;
}

.x-btn-default-toolbar-medium.x-btn-pressed {
	border-color: transparent !important;
	background-color: #d2d2d2 !important;
}

.x-btn-default-toolbar-large {
	background-color: transparent;
	border-color: transparent;
}

.x-btn-default-toolbar-large.x-btn-over {
	background-color: #ededed !important;
	border-color: transparent;
}

.x-btn-default-toolbar-large.x-btn-pressed {
	border-color: transparent !important;
	background-color: #d2d2d2 !important;
}
