
.wt-header {
	background-color: #fafafa;
}
.wt-launcher {
	background-color: #fafafa;
}
.wt-portal {
	background-color: #e0ebf3;
	/*background-color: #e7e7e7;*/
}

/*
 * Background: 1:light, 2:medium-dark, 3:dark/alternative
 * Generally light to not provide excessive contrast
 */
.wt-theme-bg-1 { background-color: #ffffff; }
.wt-theme-bg-2 { background-color: #f5f5f5; }
.wt-theme-bg-3 { background-color: #f5f5f5; }

/*
 * Header colors: 1:light, 2:medium-dark, 3:dark
 */
.wt-theme-hd-1 { background-color: #f5f5f5; }
.wt-theme-hd-2 { background-color: #e6e6e6; }
.wt-theme-hd-3 { background-color: #cfcfcf; }