@import url("xtheme-override.css");
@import url("xtheme-neptune-override.css");
@import url("wtheme-neptune-override.css");

:root {
    --wt-theme-color-surface-ct: #fafafa;
    --wt-theme-color-surface: #ffffff; /* White */
    --wt-theme-color-1: #3892d4;
    --wt-theme-color-1-on: #f9fafb; /* Gray/50 */
    
    --wt-theme-color-ok: #4da07d;
    --wt-theme-color-ok-on: #ffffff; /* White */
    
    --wt-theme-color-warn: #e9b665;
    --wt-theme-color-warn-on: #ffffff; /* White */
    
    --wt-theme-color-error: #cc4b31;
    --wt-theme-color-error-on: #fef2f2; /* Gray/50 */
    
    --wt-theme-color-navbar: #f0f5f9;
    --wt-theme-color-topbar: #f0f5f9;
    --wt-theme-color-taskbar: #e0ebf3;
    --wt-theme-color-dialog: #ffffff; /* White */
    --wt-theme-color-scrollbar-thumb: #e0e0e0;
    --wt-theme-color-scrollbar-track: transparent;
    
    --wt-theme-fontsize-xs: 10px;
    --wt-theme-fontsize-sm: 12px;
    --wt-theme-fontsize-base: 13px;
    --wt-theme-fontsize-lg: 13px;
    --wt-theme-fontsize-xl: 13px;
    --wt-theme-lineheight-xs: 15px;
    --wt-theme-lineheight-sm: 15px;
    --wt-theme-lineheight-base: 15px;
    --wt-theme-lineheight-lg: 15px;
    --wt-theme-lineheight-xl: 15px;
    --wt-theme-fontweight-regular: 300;
    --wt-theme-fontweight-medium: 300;
    --wt-theme-fontweight-bold: 700;
}

.wt-theme-color-off { color: #808080; }
.wt-theme-text-color-title { color: #157fcc; }
.wt-theme-text-color-subtitle {}
.wt-theme-text-color-hyperlink { color: #0078d7; }
.wt-theme-text-color-info { color: #4d4d4d; }

/* topbar: border */
/*.wt-viewport-topbar-watermark-bottom { background-color: #157fcc; height: 1px; }*/
/* navbar: border */
.wt-viewport-navbar-watermark-right { background-color: #157fcc; width: 1px; }
/* navbar: tweak main L/R padding */
.wt-viewport-navbar.x-toolbar-vertical { padding-left: 10px; padding-right: 10px; }
/* accountmenu: pad user-info */
.wt-accountmenu-label1 { padding-top: 5px; }
.wt-accountmenu-label2 { padding-bottom: 5px; }

/*
 * By convention, FontAwesome CSS classes used as iconCls in objects are styled 
 * as glyphs (lighter colored), like using ExtJS's glyph config. This is done in 
 * ad-hoc override in "xtheme-override.css" that applies a new opacity for all 
 * FontAwesome classes (fas, far).
 * With this class we provide a way to reset opacity to its initial value.
 */
.wt-theme-glyph-reset { opacity: initial !important; }

/*
 * Adjust action colors: base color is too light and add hover color
 */
.x-action-col-icon {
    color: #bababa; /* #666666 with alpha 0.45 */
}
.x-action-col-icon:hover {
	color: #666666;
}