/*
	The purpose of this CSS file is to contain all platform 
	specific styles (eg. wt-* classes) and default overrides 
	valid for all extjs themes.

	Specific platform styles contained below can be overridden
	in dedicated CSS files to the overriding (eg. override-
	crisp.css or override-crisp-touch.css).
*/

/* SERVICE ICONS */
.wt-icon-service-xs { background-image: url('elica_16.png') !important; }
.wt-icon-service-s { background-image: url('elica_24.png') !important; }
.wt-icon-service-m { background-image: url('elica_32.png') !important; }
.wt-icon-service-l { background-image: url('elica_48.png') !important; }

.wt-icon-empty { background-image: url('empty.png') !important;}
.wt-icon-empty-xs { width: 16px; height: 16px; background-image: url('empty.png') !important;}
.wt-icon-empty-s { width: 24px; height: 24px; background-image: url('empty.png') !important;}
.wt-icon-empty-m { width: 32px; height: 32px; background-image: url('empty.png') !important;}
.wt-icon-empty-l { width: 48px; height: 48px; background-image: url('empty.png') !important;}

.wt-icon-feedback-xs { background-image: url('feedback_16.png') !important; }
.wt-icon-whatsnew-xs { background-image: url('whatsnew_16.png') !important; }
.wt-icon-changePassword-xs { background-image: url('password_16.png') !important; }
.wt-icon-options-xs { background-image: url('options_16.png') !important; }
.wt-icon-reminder-xs { background-image: url('reminder_16.png') !important; }
.wt-icon-activity-xs { background-image: url('activity_16.png') !important; }
.wt-icon-activity-ro-xs { background-image: url('lock_16.png') !important; }
.wt-icon-causal-xs { background-image: url('causal_16.png') !important; }
.wt-icon-causal-ro-xs { background-image: url('lock_16.png') !important; }
.wt-icon-sharing-xs { background-image: url('sharing_16.png') !important; }

.wt-menu-feedback { background-image: url('feedback_32.png') !important; width: 32px; }
.wt-menu-whatsnew { background-image: url('whatsnew_32.png') !important; width: 32px; }
.wt-menu-options { background-image: url('options_32.png') !important; width: 32px; }
.wt-menu-help { background-image: url('help_32.png') !important; width: 32px; }
.wt-menu-logout { background-image: url('logout-disabled_16.png') !important; width: 16px; }
.wt-menu-tools { background-image: url('toolbox_16.png') !important; }
.x-btn-over .wt-menu-logout { background-image: url('logout_16.png') !important; width: 16px; }

/* Platform ICONS */
.wt-icon-ok-xs { background-image: url('ok_16.png') !important; }
.wt-icon-cancel-xs { background-image: url('cancel_16.png') !important; }
.wt-icon-add-xs { background-image: url('add_16.png') !important; }
.wt-icon-edit-xs { background-image: url('edit_16.png') !important; }
.wt-icon-remove-xs { background-image: url('remove_16.png') !important; }
.wt-icon-delete-xs { background-image: url('remove_16.png') !important; }
.wt-icon-restore-xs { background-image: url('restore_16.png') !important; }
.wt-icon-block-xs { background-image: url('block_16.png') !important; }
.wt-icon-lock-xs { background-image: url('lock_16.png') !important; }
.wt-icon-unlock-xs { background-image: url('unlock_16.png') !important; }
.wt-icon-search-xs { background-image: url('search_16.png') !important; }
.wt-icon-search-adv-xs { background-image: url('search-adv_16.gif') !important; }
.wt-icon-search-multi-xs { background-image: url('search-multi_16.gif') !important; }
.wt-icon-filter-xs { background-image: url('filter_16.png') !important; }
.wt-icon-new-filter-xs { background-image: url('filter-add_16.png') !important; }
.wt-icon-info-xs { background-image: url('info_16.png') !important; }
.wt-icon-snooze-xs { background-image: url('snooze_16.png') !important; }
.wt-icon-panel-bottom-xs { background-image: url('panel-bottom_16.png') !important; }
.wt-icon-panel-left-xs { background-image: url('panel-left_16.png') !important; }
.wt-icon-panel-right-xs { background-image: url('panel-right_16.png') !important; }
.wt-icon-panel-top-xs { background-image: url('panel-top_16.png') !important; }
.wt-icon-print-xs { background-image: url('print_16.png') !important; }
.wt-icon-refresh-xs { background-image: url('refresh_16.png') !important; }
.wt-icon-save-xs { background-image: url('save_16.png') !important; }
.wt-icon-saveClose-xs { background-image: url('save-close_16.png') !important; }
.wt-icon-save-all-xs { background-image: url('save_all_16.png') !important; }
.wt-icon-select-all-xs { background-image: url('select-all_16.png') !important; }
.wt-icon-select-none-xs { background-image: url('select-none_16.png') !important; }
.wt-icon-item-enable-xs { background-image: url('item-enable_16.png') !important; }
.wt-icon-item-disable-xs { background-image: url('item-disable_16.png') !important; }
.wt-icon-item-hide-xs { background-image: url('item-hide_16.png') !important; }
.wt-icon-permission-allowed-xs { background-image: url('permission-allowed_16.png') !important; }
.wt-icon-permission-denied-xs { background-image: url('permission-denied_16.png') !important; }

/* Formatting buttons */
.wt-icon-format-bold-xs { background-image: url('format-bold_16.png') !important; }
.wt-icon-format-italic-xs { background-image: url('format-italic_16.png') !important; }
.wt-icon-format-underline-xs { background-image: url('format-underline_16.png') !important; }
.wt-icon-format-forecolor-xs { background-image: url('format-forecolor_16.png') !important; }
.wt-icon-format-backcolor-xs { background-image: url('format-backcolor_16.png') !important; }
.wt-icon-format-justifyleft-xs { background-image: url('format-justifyleft_16.png') !important; }
.wt-icon-format-justifycenter-xs { background-image: url('format-justifycenter_16.png') !important; }
.wt-icon-format-justifyright-xs { background-image: url('format-justifyright_16.png') !important; }
.wt-icon-format-createlink-xs { background-image: url('format-createlink_16.png') !important; }
.wt-icon-format-unlink-xs { background-image: url('format-unlink_16.png') !important; }
.wt-icon-format-insertorderedlist-xs { background-image: url('format-insertorderedlist_16.png') !important; }
.wt-icon-format-insertunorderedlist-xs { background-image: url('format-insertunorderedlist_16.png') !important; }
.wt-icon-format-sourceedit-xs { background-image: url('format-sourceedit_16.png') !important; }
.wt-icon-format-clean-xs { background-image: url('format-clean_16.png') !important; }
.wt-icon-format-insertimageurl-xs { background-image: url('format-insertimageurl_16.png') !important; }

/* Palette ICONS */
.wt-palette-AC725E { background-image: url('palette/AC725E.png') !important; }
.wt-palette-D06B64 { background-image: url('palette/D06B64.png') !important; }
.wt-palette-F83A22 { background-image: url('palette/F83A22.png') !important; }
.wt-palette-FA573C { background-image: url('palette/FA573C.png') !important; }
.wt-palette-FF7537 { background-image: url('palette/FF7537.png') !important; }
.wt-palette-FFAD46 { background-image: url('palette/FFAD46.png') !important; }
.wt-palette-FAD165 { background-image: url('palette/FAD165.png') !important; }
.wt-palette-FBE983 { background-image: url('palette/FBE983.png') !important; }
.wt-palette-B3DC6C { background-image: url('palette/B3DC6C.png') !important; }
.wt-palette-7BD148 { background-image: url('palette/7BD148.png') !important; }
.wt-palette-16A765 { background-image: url('palette/16A765.png') !important; }
.wt-palette-42D692 { background-image: url('palette/42D692.png') !important; }
.wt-palette-92E1C0 { background-image: url('palette/92E1C0.png') !important; }
.wt-palette-9FE1E7 { background-image: url('palette/9FE1E7.png') !important; }
.wt-palette-9FC6E7 { background-image: url('palette/9FC6E7.png') !important; }
.wt-palette-4986E7 { background-image: url('palette/4986E7.png') !important; }
.wt-palette-9A9CFF { background-image: url('palette/9A9CFF.png') !important; }
.wt-palette-B99AFF { background-image: url('palette/B99AFF.png') !important; }
.wt-palette-A47AE2 { background-image: url('palette/A47AE2.png') !important; }
.wt-palette-CD74E6 { background-image: url('palette/CD74E6.png') !important; }
.wt-palette-F691B2 { background-image: url('palette/F691B2.png') !important; }
.wt-palette-CCA6AC { background-image: url('palette/CCA6AC.png') !important; }
.wt-palette-CABDBF { background-image: url('palette/CABDBF.png') !important; }
.wt-palette-C2C2C2 { background-image: url('palette/C2C2C2.png') !important; }
.wt-palette-FFFFFF { background-image: url('palette/FFFFFF.png') !important; }

.wt-ftype-archive-xs { background-image: url('ftypes/archive_16.png') }
.wt-ftype-archive-s { background-image: url('ftypes/archive_24.png') }
.wt-ftype-archive-m { background-image: url('ftypes/archive_32.png') }
.wt-ftype-audio-xs { background-image: url('ftypes/audio_16.png') }
.wt-ftype-audio-s { background-image: url('ftypes/audio_24.png') }
.wt-ftype-audio-m { background-image: url('ftypes/audio_32.png') }
.wt-ftype-document-excel-xs { background-image: url('ftypes/document-excel_16.png') }
.wt-ftype-document-excel-s { background-image: url('ftypes/document-excel_24.png') }
.wt-ftype-document-excel-m { background-image: url('ftypes/document-excel_32.png') }
.wt-ftype-document-pdf-xs { background-image: url('ftypes/document-pdf_16.png') }
.wt-ftype-document-pdf-s { background-image: url('ftypes/document-pdf_24.png') }
.wt-ftype-document-pdf-m { background-image: url('ftypes/document-pdf_32.png') }
.wt-ftype-document-word-xs { background-image: url('ftypes/document-word_16.png') }
.wt-ftype-document-word-s { background-image: url('ftypes/document-word_24.png') }
.wt-ftype-document-word-m { background-image: url('ftypes/document-word_32.png') }
.wt-ftype-document-xs { background-image: url('ftypes/document_16.png') }
.wt-ftype-document-s { background-image: url('ftypes/document_24.png') }
.wt-ftype-document-m { background-image: url('ftypes/document_32.png') }
.wt-ftype-file-xs { background-image: url('ftypes/file_16.png') }
.wt-ftype-file-s { background-image: url('ftypes/file_24.png') }
.wt-ftype-file-m { background-image: url('ftypes/file_32.png') }
.wt-ftype-folder-xs { background-image: url('ftypes/folder_16.png') }
.wt-ftype-folder-s { background-image: url('ftypes/folder_24.png') }
.wt-ftype-folder-m { background-image: url('ftypes/folder_32.png') }
.wt-ftype-folderroot-xs { background-image: url('ftypes/folderroot_16.png') }
.wt-ftype-folderroot-s { background-image: url('ftypes/folderroot_24.png') }
.wt-ftype-folderroot-m { background-image: url('ftypes/folderroot_32.png') }
.wt-ftype-image-xs { background-image: url('ftypes/image_16.png') }
.wt-ftype-image-s { background-image: url('ftypes/image_24.png') }
.wt-ftype-image-m { background-image: url('ftypes/image_32.png') }
.wt-ftype-message-xs { background-image: url('ftypes/message_16.png') }
.wt-ftype-message-s { background-image: url('ftypes/message_24.png') }
.wt-ftype-message-m { background-image: url('ftypes/message_32.png') }
.wt-ftype-text-html-xs { background-image: url('ftypes/text-html_16.png') }
.wt-ftype-text-html-s { background-image: url('ftypes/text-html_24.png') }
.wt-ftype-text-html-m { background-image: url('ftypes/text-html_32.png') }
.wt-ftype-text-xs { background-image: url('ftypes/text_16.png') }
.wt-ftype-text-s { background-image: url('ftypes/text_24.png') }
.wt-ftype-text-m { background-image: url('ftypes/text_32.png') }
.wt-ftype-video-xs { background-image: url('ftypes/video_16.png') }
.wt-ftype-video-s { background-image: url('ftypes/video_24.png') }
.wt-ftype-video-m { background-image: url('ftypes/video_32.png') }
.wt-ftype-script-xs { background-image: url('ftypes/script_16.png') }
.wt-ftype-script-s { background-image: url('ftypes/script_24.png') }
.wt-ftype-script-m { background-image: url('ftypes/script_32.png') }
.wt-ftype-application-xs { background-image: url('ftypes/application_16.png') }
.wt-ftype-application-s { background-image: url('ftypes/application_24.png') }
.wt-ftype-application-m { background-image: url('ftypes/application_32.png') }

.wt-grid-header-icon {
	background-repeat: no-repeat;
	background-position: center;
}
.wt-img-xs {
	background-repeat: no-repeat;
	width: 16px;
	height: 16px;
}
.wt-img-s {
	background-repeat: no-repeat;
	width: 24px;
	height: 24px;
}
.wt-img-m {
	background-repeat: no-repeat;
	width: 32px;
	height: 32px;
}
.wt-img-l {
	background-repeat: no-repeat;
	width: 48px;
	height: 48px;
}

/* VIEWPORT */
.wt-header {
	
}
.wt-launcher {
	
}

/* WHATSNEW */
.wt-whatsnew {
	padding: 10px;
	font-family: Helvetica, Arial, sans-serif;
}
.wt-whatsnew > div.wt-wntitle:first-child {
	margin-top: 0;
}
div.wt-wntitle {
	margin-top: 1em;
	/*font-size: 220%;*/
	font-size: 150%;
	font-weight: bold;
}
div.wt-wnsubtitle {
	margin-top: 0em;
	/*font-size: 130%;*/
	font-size: 110%;
	font-family: Georgia,"Times New Roman",Times,serif;
	font-style: italic;
	color: #797c80;
}
div.wt-wnlist {
	margin-top: 1em;
	/*font-size: 110%;*/
}
.wt-wnlist ul {
	padding-left: 30px;
}
.wt-wnlist ul li {
	list-style: initial;
}
.wt-wnlist ul li h1, .wt-wnlist ul li h2, .wt-wnlist ul li h3 {
	margin-top: .2em;
	font-size: 110%;
	font-weight: bold;
}
.wt-wnlist ul li p {
	margin-bottom: .5em;
}
.wt-wnlist ul li img {
	padding: .2em;
	margin-bottom: .5em;
	background-color: #fff;
	box-shadow: 2px 2px 5px #e1e1e1;
	border: solid 1px #ccc;
}


.wt-setting-grid .x-grid-rowbody p {
	font-size: smaller;
	margin: .2em 0;
}

.x-toolbar .x-toolbar-item {
    margin-right: 2px;
}

.x-toolbar .x-toolbar-separator-horizontal {
	margin-left: 2px !important;
    margin-right: 4px !important;
	padding-right: 2px !important;
}

/* TinyMCE */
.mce-tinymce.mce-container {
	border-width: 0px !important;
}