@import url("xtheme-override.css");
@import url("xtheme-classic-override.css");
@import url("wtheme-gray-override.css");

/* ---------- WT Tool-Header wrap */
.wt-tool-hd-wrap {
	background-image: -webkit-linear-gradient(top, #e6e6e6, #efefef);
}

.wt-fieldspanel .x-panel-bodyWrap .x-panel-body:first-child {
	background: none;
}


.x-toolbar-default {padding-left: 6px;}

.wt-modelview-toolbar { padding-right: 6px; }