/**************************************/
/* Tweaks WebTop's components for specific theme
/**************************************/

:root {
    --wt-theme-color-surface: #ffffff; /* White */
    /*--wt-theme-color-surface-on*/
    /*--wt-theme-color-surface-on-low*/
    --wt-theme-color-surface-ct: #e0ebf3;
    /*--wt-theme-color-surface-ct-high*/
    
    /*--wt-theme-color-1*/
    /*--wt-theme-color-1-on*/
    /*--wt-theme-color-1-ct*/
    /*--wt-theme-color-1-ct-on*/
    /*--wt-theme-color-2*/
    /*--wt-theme-color-2-on*/
    /*--wt-theme-color-ct-2*/
    /*--wt-theme-color-ct-2-on*/
    
    --wt-theme-color-ok: #388E3C; /* Green/700 (https://materialui.co/colors/) */
    --wt-theme-color-ok-on: #ffffff; /* White (https://materialui.co/colors/) */
    --wt-theme-color-ok-ct: #E8F5E9; /* Green/50 (https://materialui.co/colors/) */
    --wt-theme-color-ok-ct-on: #43A047; /* Green/600 (https://materialui.co/colors/) */
    --wt-theme-color-warn: #FFA000; /* Amber/700 (https://materialui.co/colors/) */
    --wt-theme-color-warn-on: #ffffff; /* White */
    --wt-theme-color-warn-ct: #FFF8E1; /* Amber/50 (https://materialui.co/colors/) */
    --wt-theme-color-warn-ct-on: #FFCA28; /* Amber/400 (https://materialui.co/colors/) */
    --wt-theme-color-error: #D32F2F; /* Red/700 (https://materialui.co/colors/) */
    --wt-theme-color-error-on: #FAFAFA; /* Grey/50 (https://materialui.co/colors/) */
    --wt-theme-color-error-ct: #FFEBEE; /* Red/50 (https://materialui.co/colors/) */
    --wt-theme-color-error-ct-on: #C62828; /* Red/800 (https://materialui.co/colors/) */
    --wt-theme-color-info: #0276C9;
    --wt-theme-color-info-on: #E3F2FD; /* Blue/50 (https://materialui.co/colors/) */
    --wt-theme-color-info-ct: #BBDEFB; /* Blue/100 (https://materialui.co/colors/) */
    --wt-theme-color-info-ct-on: #3892D4;
    
    --wt-theme-color-topbar: #fafafa;
    --wt-theme-color-navbar: #fafafa;
    --wt-theme-color-taskbar: #fafafa;
    --wt-theme-color-scrollbar: #e0e0e0;
    --wt-theme-color-dialog: #ffffff; /* White ????????????????? */
    
    --wt-theme-fontsize-xs: 10px;
    --wt-theme-fontsize-sm: 12px;
    --wt-theme-fontsize-base: 13px;
    --wt-theme-fontsize-lg: 15px;
    --wt-theme-fontsize-xl: 17px;
    --wt-theme-lineheight-xs: 11px;
    --wt-theme-lineheight-sm: 13px;
    --wt-theme-lineheight-base: 15px;
    --wt-theme-lineheight-lg: 17px;
    --wt-theme-lineheight-xl: 19px;
    --wt-theme-fontweight-regular: 500;
    --wt-theme-fontweight-medium: 700;
    --wt-theme-fontweight-bold: 700;
}

/* ---------- Base styling */
.wt-theme-text-color-off { color: #b4b4b4; }
.wt-theme-text-color-title { color: #157fcc; }
.wt-theme-text-color-subtitle { color: #888888; }
.wt-theme-text-color-hyperlink { color: #0078d7; }
.wt-theme-text-color-info { color: #4d4d4d; }

.wt-pane-body-title {
    font-size: var(--wt-theme-fontsize-lg);
    line-height: var(--wt-theme-lineheight-lg);
	font-weight: var(--wt-theme-fontweight-base);
}
.wt-pane-body-subtitle {
    font-size: var(--wt-theme-fontsize-sm);
    line-height: var(--wt-theme-lineheight-sm);
	font-weight: var(--wt-theme-fontweight-base);
}
.wt-form-body-title {
    font-size: var(--wt-theme-fontsize-base);
	font-weight: var(--wt-theme-fontweight-base);
}
.wt-form-body-subtitle {
    font-size: var(--wt-theme-fontsize-sm);
	font-weight: var(--wt-theme-fontweight-base);
}
.wt-form-toolbar-title {
    font-size: var(--wt-theme-fontsize-base, inherit);
    font-weight: var(--wt-theme-fontweight-medium, normal);
    color: var(--wt-theme-color-surface-on) !important;
}

/* topbar: border */
.wt-viewport-topbar-watermark-bottom { background-color: #cfcfcf; height: 1px; }
/* navbar: border */
.wt-viewport-navbar-watermark-right { background-color: #cfcfcf; width: 1px; }
/* navbar: tweak main L/R padding */
.wt-viewport-navbar.x-toolbar-vertical { padding-left: 10px; padding-right: 10px; }
/* accountmenu: pad user-info */
.wt-accountmenu-label1 { padding-top: 5px; }
.wt-accountmenu-label2 { padding-bottom: 5px; }

/* ---------- WT Navbar */
/* flatten buttons */
.wt-viewport-navbar .x-btn-default-toolbar-large {
    border-color: #fafafa !important;
    background-color: #fafafa !important;
}
.wt-viewport-navbar .x-btn-default-toolbar-large.x-btn-over {
	background-color: #ededed !important;
}
.wt-viewport-navbar .x-btn-default-toolbar-medium {
    border-color: #fafafa !important;
    background-color: #fafafa !important;
}
.wt-viewport-navbar .x-btn-default-toolbar-medium.x-btn-over {
	background-color: #ededed !important;
}
.wt-viewport-navbar .x-btn-default-toolbar-small {
    border-color: #fafafa !important;
    background-color: #fafafa !important;
}
.wt-viewport-navbar .x-btn-default-toolbar-small.x-btn-over {
	background-color: #ededed !important;
}

/* ---------- WT Tool-Header wrap */
.wt-tool-hd-wrap { padding: 4px; }

/* ---------- Toolbars (all) */
/* flatten buttons */
.x-btn-default-toolbar-small {
	background-color: transparent;
	border-color: transparent;
}
.x-btn-default-toolbar-small.x-btn-over {
	background-color: #ededed !important;
	border-color: transparent;
}
.x-btn-default-toolbar-small.x-btn-pressed {
	border-color: transparent !important;
	background-color: #c7c7c7 !important;
}
.x-btn-default-toolbar-medium {
	background-color: transparent;
	border-color: transparent;
}
.x-btn-default-toolbar-medium.x-btn-over {
	background-color: #ededed !important;
	border-color: transparent;
}
.x-btn-default-toolbar-medium.x-btn-pressed {
	border-color: transparent !important;
	background-color: #c7c7c7 !important;
}
.x-btn-default-toolbar-large {
	background-color: transparent;
	border-color: transparent;
}
.x-btn-default-toolbar-large.x-btn-over {
	background-color: #ededed !important;
	border-color: transparent;
}
.x-btn-default-toolbar-large.x-btn-pressed {
	border-color: transparent !important;
	background-color: #c7c7c7 !important;
}

/* ---------- TreePanel: treecolumn colorswatch */
.wt-tree-colorswatch.x-tree-icon {
    margin-top: -1px;
    margin-right: 4px;
}

/* ---------- WTA.ux.panel.Fields */
.wt-fieldspanel-body-padding-lr {
	padding-left: 16px;
    padding-right: 16px;
}

/* ---------- WTA.ux.panel.Tab */
.wt-tabpanel-margin-lr {
	margin-left: 16px;
	margin-right: 16px;
}

/* ---------- Ext.picker.Date */
/* Style highlight and full dates */
.x-datepicker-cell.so-datepicker-highlighted {
    /*background-color: #FFEDD5;*/ /* Orange/100 */
}
.x-datepicker-cell.so-datepicker-fulldate > .x-datepicker-date {
    font-weight: bold !important;
}

/* ---------- FullCalendar */
.fc-event.fc-daygrid-event:not(.fc-daygrid-dot-event), .fc-event.fc-timegrid-event {
    border: 1px solid #4d4d4d !important;
}