/**************************************/
/* Base WebTop's definitions for all themes
/**************************************/

.wt-theme-bg-surface-1 { background-color: var(--wt-theme-color-surface-ct); }
.wt-theme-bg-surface-2 { background-color: var(--wt-theme-color-surface); }
.wt-theme-bg-window { background-color: var(--wt-theme-color-surface); }
.wt-theme-bg-dialog { background-color: var(--wt-theme-color-surface); }
.wt-theme-1 { background-color: var(--wt-theme-color-1); color: var(--wt-theme-color-1-on); }
.wt-theme-color-ok { color: var(--wt-theme-color-ok); }
.wt-theme-color-warn { color: var(--wt-theme-color-warn); }
.wt-theme-color-error { color: var(--wt-theme-color-error); }
.wt-theme-color-info { color: var(--wt-theme-color-info); }
.wt-theme-text-color-off { /* Hey, define me! */ } /* Color styles for off texts (typically a ligther coloring) */
.wt-theme-text-color-title { /* Hey, define me! */ } /* Color styles for header texts (typically like --wt-theme-color-info) */
.wt-theme-text-color-subtitle { /* Hey, define me! */ } /* Color styles for sub-header texts */
.wt-theme-text-color-hyperlink { /* Hey, define me! */ } /* Color styles for hyperlinks texts */
.wt-theme-text-color-info { /* Hey, define me! */ } /* Color styles for info texts */

.wt-pane-body-title { /* Hey, define me! */ } /* Font styles for titles in panel bodys (should not include colors) */
.wt-pane-body-subtitle { /* Hey, define me! */ } /* Font styles for sub-titles in panel bodys (should not include colors) */
.wt-form-body-title { /* Hey, define me! */ } /* Font styles for titles in form (panel with fields) bodys (should not include colors) */
.wt-form-body-subtitle { /* Hey, define me! */ } /* Font styles for sub-titles in form (panel with fields) bodys (should not include colors) */
.wt-form-toolbar-title { /* Hey, define me! */ } /* Font styles for titles in form toolbars (should not include colors) */

.wt-viewport-navbar { background-color: var(--wt-theme-color-navbar); }
.wt-viewport-topbar { background-color: var(--wt-theme-color-topbar); }
.wt-viewport-taskbar { background-color: var(--wt-theme-color-taskbar); }
.wt-portal-body { background-color: var(--wt-theme-color-surface-ct); }
.wt-accountmenu-label1 { font-size: var(--wt-theme-fontsize-sm); line-height: var(--wt-theme-lineheight-sm); font-weight: bold; }
.wt-accountmenu-label2 { font-size: var(--wt-theme-fontsize-xs); line-height: var(--wt-theme-lineheight-xs); }

/* ---------- Tool HD/Body */
.wt-tool-hd-title { font-size: var(--wt-theme-fontsize-lg); font-weight: 500; }

/* ---------- MoreLinksButton */
/* Customize BoundList's iconSize */
.wt-launcher-morelinksbutton-list .x-boundlist-item {
    line-height: 60px;
}
.wt-launcher-morelinksbutton-list .so-boundlist-icon {
    width: 48px;
    height: 48px;
}
.wt-launcher-morelinksbutton-list .so-boundlist-display {
    padding-left: 52px;
}

/* ---------- Sonicle.grid.TileList */
.so-tilelist-caption {
    font-size: 0.9em;
}

/* ---------- WTA.ux.field.MeetingUrl */
.wt-meetingurl-field {
    margin-bottom: 0;
}

/* ---------- WTA.ux.field.Recipients */
/* Display list's items using flex in order to fix input display limit when typing */
.wt-recipients-field .x-tagfield-list {
    display: flex;
    flex-flow: wrap;
}
.wt-recipients-field .x-tagfield-list .x-tagfield-input {
    flex-grow: 100;
}

/* ---------- WTA.ux.panel.Fields */
.wt-fieldspanel-body-padding-t {
	padding-top: 8px;
}
.wt-fieldspanel-body-padding-lr {
	padding-left: 8px;
	padding-right: 8px;
}
.wt-fieldspanel-body-padding-b {
	padding-bottom: 8px;
}

/* ---------- WTA.ux.panel.Tab */
.wt-tabpanel-margin-t {
	margin-top: 8px;
}
.wt-tabpanel-margin-lr {
	margin-left: 8px;
	margin-right: 8px;
}
.wt-tabpanel-margin-b {
	margin-bottom: 8px;
}

.wt-tabpanel {
	padding: 0px 6px 0px 0px;
}
