/**************************************/
/* Base WebTop's definitions for all themes
/**************************************/

.wt-theme-text-color-title { /* Hey, define me! */ } /* Color styles for header texts (ONLY colors) */
.wt-theme-text-color-subtitle { /* Hey, define me! */ } /* Color styles for sub-header texts (ONLY colors) */
.wt-pane-body-title { /* Hey, define me! */ } /* Font styles for titles in panel bodys (NO colors) */
.wt-pane-body-subtitle { /* Hey, define me! */ } /* Font styles for sub-titles in panel bodys (NO colors) */
.wt-form-body-title { /* Hey, define me! */ } /* Font styles for titles in form (panel with fields) bodys (NO colors) */
.wt-form-body-subtitle { /* Hey, define me! */ } /* Font styles for sub-titles in form (panel with fields) bodys (NO colors) */
.wt-form-toolbar-title { /* Hey, define me! */ } /* Font styles for titles in form toolbars (NO colors) */

.wt-portal-body { background-color: var(--wt-theme-color-surface-l1); } /* Deprecated! */

/* ---------- Viewport (public)) */
.wt-viewport-public .wt-viewport-contentwrap {
    padding: 24px;
}
.wt-viewport-public .wt-viewport-topbar-logo {
    background-image: url(logo.svg); background-repeat: no-repeat;
    margin-bottom: 16px;
}

/* ---------- Topbar */
.wt-viewport-topbar { background-color: var(--wt-theme-color-topbar); }
.wt-accountmenu-label1 { font-size: var(--wt-theme-fontsize-sm); line-height: var(--wt-theme-lineheight-sm); font-weight: bold; }
.wt-accountmenu-label2 { font-size: var(--wt-theme-fontsize-xs); line-height: var(--wt-theme-lineheight-xs); }

/* ---------- Navbar */
.wt-viewport-navbar { background-color: var(--wt-theme-color-navbar); }

/* ---------- Tool HD/Body */
.wt-tool-hd-title { font-size: var(--wt-theme-fontsize-lg); font-weight: 500; }

/* ---------- Taskbar */
.wt-viewport-taskbar { background-color: var(--wt-theme-color-taskbar); }

/* ---------- WTA.view.DocEditor */
.wt-doced-switch-btn .x-btn-inner {
	color: #e60000 !important;
}

/* ---------- WTA.ux.NotificationButton */
.wt-notifbtn-grid-rowbody {
	color: gray;
}
.wt-notifbtn-grid-rowbody-empty {
	display: none;
}

/* ---------- WTA.ux.app.launcher.MoreLinksButton */
/* Customize BoundList's iconSize */
.wt-launcher-morelinksbutton-list .x-boundlist-item {
    line-height: 60px;
}
.wt-launcher-morelinksbutton-list .so-boundlist-icon {
    width: 48px;
    height: 48px;
}
.wt-launcher-morelinksbutton-list .so-boundlist-display {
    padding-left: 52px;
}

/* ---------- WTA.ux.field.MeetingUrl */
.wt-meetingurl-field {
    margin-bottom: 0;
}

/* ---------- WTA.ux.field.Recipients */
/* Display list's items using flex in order to fix input display limit when typing */
.wt-recipients-field .x-tagfield-list {
    display: flex;
    flex-flow: wrap;
}
.wt-recipients-field .x-tagfield-list .x-tagfield-input {
    flex-grow: 100;
}

/* ---------- WTA.ux.grid.Setting */
.wt-setting-grid .x-grid-rowbody p {
	font-size: smaller;
	margin: .2em 0;
}

/* ---------- WTA.ux.grid.column.ChatMessage */
/* TODO: expose variable to allow customization in dark themes */
.wt-chatmsgcol-sysmsg {
	position: relative;
	line-height: 15px;
	padding: 5px;
    margin-left: auto;
	margin-right: auto;
	max-width: 85%;
	border-radius: 5px;
	color: rgba(69,90,100,0.95);
	clear: both;
	white-space: pre-wrap;
	word-wrap: break-word;
	text-align: center;
}
.wt-chatmsgcol-sysmsg.wt-chatmsgcol-sysmsg-info {
	background-color: rgba(225,245,254,0.92);
}
.wt-chatmsgcol-sysmsg.wt-chatmsgcol-sysmsg-warn {
	background-color: rgba(255,245,196,0.95);
}
.wt-chatmsgcol-sysmsg > span:before {
	content: attr(data-content);
}
.wt-chatmsgcol-hidmeta {
	position: absolute;
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
}
.wt-chatmsgcol-msg {
	position: relative;
	line-height: 15px;
	padding: 5px;
	max-width: 85%;
	color: #000;
	clear: both;
	white-space: pre-wrap;
	word-wrap: break-word;
}
.wt-chatmsgcol-msg:after {
	position: absolute;
	border-style: solid;
	width: 0;
	height: 0;
	content: "";
}
.wt-chatmsgcol-msg.wt-chatmsgcol-msg-received {
	float: left;
	margin-left: 10px;
	border-radius: 0px 5px 5px 5px;
	background-color: #fafafa;
}
.wt-chatmsgcol-msg.wt-chatmsgcol-msg-received:after {
	top: 0;
	left: -10px;
	border-width: 0px 10px 10px 0;
	border-color: transparent #fafafa transparent transparent;
}
.wt-chatmsgcol-msg.wt-chatmsgcol-msg-sent {
	float: right;
	margin-right: 10px;
	border-radius: 5px 0px 5px 5px;
	background-color: #f8f8c8;
	/*background-color: #f1e7c2;*/
	/*background: #e1ffc7;*//*WhatsApp color*/
}
.wt-chatmsgcol-msg.wt-chatmsgcol-msg-sent:after {
	top: 0;
	right: -10px;
	border-width: 0px 0 10px 10px;
	border-color: transparent transparent transparent #f8f8c8;
	/*border-color: transparent transparent transparent #f1e7c2;*/
	/*border-color: transparent transparent transparent #e1ffc7;*//*WhatsApp color*/
}
.wt-chatmsgcol-msg-text a {
	text-decoration: underline;
	color: #039be5;
}
.wt-chatmsgcol-sender {
	display: inline-block;
	position: relative;
	top: -4px;
	padding: 0 7px 0 0;
	font-size:0.9em;
	color: grey;
}
.wt-chatmsgcol-sender:before {
	content: attr(data-content);
}
.wt-chatmsgcol-msgmeta {
	display: inline-block;
	position: relative;
	bottom: -4px;
	float: right;
	padding: 0 0 0 7px;
	font-size:0.8em;
	color: grey;
}
.wt-chatmsgcol-msgmeta > span:before {
	content: attr(data-content);
}
.wt-chatmsgcol-filemeta {
	display: inline-block;
	position: relative;
	bottom: -4px;
	float: left;
	padding: 0 7px 0 0;
	font-size:0.8em;
	color: grey;
}
.wt-chatmsgcol-filemeta:before {
	content: attr(data-content);
}
.wt-chatmsgcol-filewrap {
	display: block;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    border-radius: 6px;
    overflow: hidden;
    cursor: pointer;
    box-sizing: border-box;
    /*border: 1px solid rgba(75,89,97,0.1);*/
	background-color: rgba(75,89,97,0.1);
	text-decoration: none;
	color: #262626;
}
.wt-chatmsgcol-filebody {
	-webkit-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 20px 4px;
	/*
	padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 19px;
    padding-right: 19px;
	*/
    height: 34px;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    text-decoration: none;
    cursor: pointer;
}
.wt-chatmsgcol-filebody .wt-chatmsgcol-filebody-icon {
	float: left;
	width: 32px;
	height: 32px;
}
.wt-chatmsgcol-filebody .wt-chatmsgcol-filebody-text {
	margin-left: 5px;
}
.wt-chatmsgcol-imgfilebody {
	display: -webkit-flex;
	display: flex;
	position: relative;
	overflow: hidden;
	-webkit-align-items: center;
	align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
	max-height: 250px;
}
.wt-chatmsgcol-imgfilebody img {
	max-width: 250px;
}

/* ---------- WTA.ux.panel.Fields */
.wt-fieldspanel-body-padding-t {
	padding-top: 6px;
}
.wt-fieldspanel-body-padding-lr {
	padding-left: 12px;
	padding-right: 12px;
}
.wt-fieldspanel-body-padding-b {
	padding-bottom: 12px;
}

/* ---------- WTA.ux.panel.Tab */
.wt-tabpanel {
    /* Why 6px right padding??? */
	/*padding: 0px 6px 0px 0px;*/
}
.wt-tabpanel-margin-t {
	margin-top: 6px;
}
.wt-tabpanel-margin-lr {
	margin-left: 12px;
	margin-right: 12px;
}
.wt-tabpanel-margin-b {
	margin-bottom: 12px;
}

/* ---------- Ext.tree.Panel@tree-toggle */
/* Support toggle checkbox style */
.wt-tree-toggle {
    background-image: none !important;
	font-family: var(--fa-style-family-classic) !important;
	font-weight: 900 !important;
	cursor: pointer;
}
.wt-tree-toggle.x-tree-checkbox:before {
	content: '\f204';
    color: var(--wt-theme-color-3, #a3a3a3 /* Neutral/400 */);
}
.wt-tree-toggle.x-tree-checkbox-checked:before {
	content: '\f205';
    color: var(--wt-theme-color-1, #059669 /* Emerald/600 */);
}

/* ---------- Ext.tree.Panel@tree-colorswatch */
.wt-tree-colorswatch {
    border-width: 2px;
    border-style: solid;
    background-image: none !important;
	background-repeat: no-repeat;
	background-size: 11px auto;
	background-position: center;
    width: 16px;
    height: 16px;
}
.wt-tree-colorswatch.x-tree-checkbox {
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    cursor: pointer;
}
.wt-tree-colorswatch.x-tree-checkbox.so-colorswatch-circle {
    /*justify-content: space-evenly; not used anymore*/
}
.wt-tree-colorswatch.x-tree-checkbox:before {
    content: '';
}
.wt-tree-colorswatch.x-tree-checkbox-checked {
    font-family: var(--fa-style-family-classic) !important;
    font-weight: 900 !important;
}
.wt-tree-colorswatch.x-tree-icon:before {
    content: '';
}
.wt-tree-colorswatch.x-tree-checkbox-checked:after {
    content: '\f00c';
}

/* ---------- Ext.panel.Panel@whatsnew */
/* TODO: rework and expose variable to allow customization in dark themes */
.wt-whatsnew {
	padding: 10px;
	font-family: Helvetica, Arial, sans-serif;
}
.wt-whatsnew > div.wt-wntitle:first-child {
	margin-top: 0;
}
div.wt-wntitle {
	margin-top: 1em;
	/*font-size: 220%;*/
	font-size: 150%;
	font-weight: bold;
}
div.wt-wnsubtitle {
	margin-top: 0em;
	/*font-size: 130%;*/
	font-size: 110%;
	font-family: Georgia,"Times New Roman",Times,serif;
	font-style: italic;
	color: #797c80;
}
div.wt-wnlist {
	margin-top: 1em;
	/*font-size: 110%;*/
}
.wt-wnlist ul {
	padding-left: 30px;
}
.wt-wnlist ul li {
	list-style: initial;
}
.wt-wnlist ul li h1, .wt-wnlist ul li h2, .wt-wnlist ul li h3 {
	margin-top: .2em;
	font-size: 110%;
	font-weight: bold;
}
.wt-wnlist ul li p {
	margin-bottom: .5em;
}
.wt-wnlist ul li img {
	padding: .2em;
	margin-bottom: .5em;
	background-color: #fff;
	box-shadow: 2px 2px 5px #e1e1e1;
	border: solid 1px #ccc;
}

/* ---------- Sonicle.grid.TileList */
.so-tilelist-caption {
    font-size: 0.9em;
}