/* Pretty folder icons */
.x-grid-item .x-grid-cell-inner-treecolumn .x-tree-icon { background-image: url(folder_16.svg); background-size: contain; }
.x-grid-item .x-grid-cell-inner-treecolumn .x-tree-icon-parent { background-image: url(folder_16.svg); background-size: contain; }
.x-grid-item .x-grid-cell-inner-treecolumn .x-tree-icon-leaf { background-image: url(folder_16.svg); background-size: contain; }
.x-grid-item .x-grid-tree-node-expanded .x-tree-icon { background-image: url(folder-open_16.svg); background-size: contain; }

/* Avoids annoying focus border on focused cells */
.x-grid-item-focused .x-grid-cell-inner:before { display: none; }

/* ActionColumn: adds some extra spacing between action column icons */
.x-action-col-icon {
	margin-left: 4px;
}

/* Fieldset: provide better disabled style */
.x-fieldset.x-item-disabled {
	opacity: 0.3
}

/* Toolbar: provide better margins */
.x-toolbar .x-toolbar-item {
    margin-right: 2px;
}
.x-toolbar .x-toolbar-separator-horizontal {
	margin-left: 2px !important;
    margin-right: 4px !important;
	padding-right: 2px !important;
}

/* Trigger: fixes */
.x-form-trigger {
	line-height: inherit; /* Fix icon vertical alignment a little in FF */
    display: table-cell; /* Fix inputEl crushing due to FontAwesome5 icon in Chrome */
}

/* Grid: center empty text */
.x-grid-empty {
	text-align: center;
}
