/**************************************/
/* Fixes/Tweaks for specific original theme
/* (should not include theme dependent styles, colors, ecc)
/**************************************/

/* ---------- Ext.panel.Panel */
/* Force panel's body BG to 'white' when using 'border' layout */
.x-panel-body-default.x-border-layout-ct {
	background-color: #fff;
}

/* Force splitter BG to its gray to avoid previous panel override to set it white  */
.x-splitter {
    background-color: #cfcfcf;
}

/* Disable theme's rbl border that causes ugly borders */
.x-panel-default-outer-border-rbl {
    border-right-width: 0 !important;
    border-bottom-width: 0 !important;
    border-left-width: 0 !important;
}
.x-grid:not(.x-grid-header-hidden) .x-panel-default-outer-border-rbl {
    border-right-width: 1px !important;
    border-bottom-width: 1px !important;
    border-left-width: 1px !important;
}

/* ---------- Sonicle.form.Separator */
/* Give extra spacing from above objects */
.x-fieldset.so-form-separator {
    margin-top: 20px;
}