/**************************************/
/* Fixes/Tweaks for all original themes
/* (should not include theme dependent styles, colors, ecc)
/**************************************/

/* ---------- Ext.tree.Panel */
/* Prettify folder icons */
.x-grid-item .x-grid-cell-inner-treecolumn .x-tree-icon { background-image: url(folder_16.svg); background-size: contain; }
.x-grid-item .x-grid-cell-inner-treecolumn .x-tree-icon-parent { background-image: url(folder_16.svg); background-size: contain; }
.x-grid-item .x-grid-cell-inner-treecolumn .x-tree-icon-leaf { background-image: url(folder_16.svg); background-size: contain; }
.x-grid-item .x-grid-tree-node-expanded .x-tree-icon { background-image: url(folder-open_16.svg); background-size: contain; }
