/**************************************/
/* Fixes/Tweaks for specific original theme (both classic and gray)
/* (should not include theme dependent styles, colors, ecc)
/**************************************/

/* ---------- Ext.grid.column.Action */
/* Set lighter base color and set darker color on hover */
.x-action-col-icon {
    color: #bababa; /* #666666 with alpha 0.45 */
}
.x-action-col-icon:hover {
	color: #666666;
}

/* ---------- Button */
/* Set button glyph color ()missing in original css definitions) */
.x-btn-icon-el {
	color: #666666;
}

/* ---------- Tree */
/* Avoid icon fall to left side, due to missing left padding */
.x-grid-cell-inner-treecolumn {
	padding-left: 3px;
}

/* ---------- Trigger */
/* Fix left-border when displayed on the right (thanks to Sonicle.overrides.form.field.Text) */
.x-form-trigger-wrap > .x-form-trigger:first-child {
	border-left: 1px solid #b5b8c8;
}
