/**************************************/
/* Fixes/Tweaks for specific original theme
/* (should not include theme dependent styles, colors, ecc)
/**************************************/

/* ---------- Ext.panel.Panel */
/* Force panel's body BG to 'white' when using 'border' layout */
.x-panel-body-default.x-border-layout-ct {
	background-color: #fff;
}

/* Force splitter BG to its gray to avoid previous panel override to set it white  */
.x-splitter {
    background-color: #cfcfcf;
}

/* ---------- Sonicle.form.Separator */
/* Give extra spacing from above objects */
.x-fieldset.so-form-separator {
    margin-top: 20px;
}