.wtadm-icon-service-xs { background-image: url('service_16.png') !important; }
.wtadm-icon-service-s { background-image: url('service_24.png') !important; }
.wtadm-icon-service-m { background-image: url('service_32.png') !important; }
.wtadm-icon-service-l { background-image: url('service_48.png') !important; }

.wtadm-icon-addDomain { background-image: url('domain-add_16.svg') !important; background-size: contain; }
.wtadm-icon-editDomain { background-image: url('domain-edit_16.svg') !important; background-size: contain; }
.wtadm-icon-deleteDomain { background-image: url('domain-delete_16.svg') !important; background-size: contain; }
.wtadm-icon-selectStmt { background-image: url('stmtSelect_16.svg') !important; background-size: contain; }
.wtadm-icon-play1Stmt { background-image: url('stmtPlay1_16.svg') !important; background-size: contain; }
.wtadm-icon-playStmt { background-image: url('stmtPlay_16.svg') !important; background-size: contain; }
.wtadm-icon-skipStmt { background-image: url('stmtSkip_16.svg') !important; background-size: contain; }

.wtadm-icon-maintenance-on { background-image: url('maintenance-on_16.svg') !important; background-size: contain; }
.wtadm-icon-maintenance-off { background-image: url('maintenance-off_16.svg') !important; background-size: contain; }
.wtadm-icon-settings { background-image: url('settings_16.svg') !important; background-size: contain; }
.wtadm-icon-logging { background-image: url('logging_16.svg') !important; background-size: contain; }
.wtadm-icon-loggers { background-image: url('logging_16.svg') !important; background-size: contain; }
.wtadm-icon-logViewer { background-image: url('logViewer_16.svg') !important; background-size: contain; }
.wtadm-icon-accesslog { background-image: url('accessLog_16.svg') !important; background-size: contain; }
.wtadm-icon-audit { background-image: url('audit_16.svg') !important; background-size: contain; }

.wtadm-icon-dbUpgrader { background-image: url('dbUpgrader_16.svg') !important; background-size: contain; }
.wtadm-icon-domains { background-image: url('domains_16.svg') !important; background-size: contain; }
.wtadm-icon-domain { background-image: url('domain_16.svg') !important; background-size: contain; }
.wtadm-icon-domain-disabled { background-image: url('domain-disabled_16.svg') !important; background-size: contain; }
.wtadm-icon-groups { background-image: url('group_16.svg') !important; background-size: contain; }
.wtadm-icon-group { background-image: url('group_16.svg') !important; background-size: contain; }
.wtadm-icon-users { background-image: url('user_16.svg') !important; background-size: contain; }
.wtadm-icon-user { background-image: url('user_16.svg') !important; background-size: contain; }
.wtadm-icon-roles { background-image: url('role_16.svg') !important; background-size: contain; }
.wtadm-icon-role { background-image: url('role_16.svg') !important; background-size: contain; }
.wtadm-icon-launcherLinks { background-image: url('launcherLink_16.svg') !important; background-size: contain; }
.wtadm-icon-service-module { background-image: url('service-module_16.svg') !important; background-size: contain; }
.wtadm-icon-permission { background-image: url('permission_16.svg') !important; background-size: contain; }
.wtadm-icon-licenses { background-image: url('license_16.svg') !important; background-size: contain; }
.wtadm-icon-license { background-image: url('license_16.svg') !important; background-size: contain; }
.wtadm-icon-licenseActivatorWiz { background-image: url('licenseActivator_16.svg') !important; background-size: contain; }
.wtadm-icon-licenseAutoLease-on { background-image: url('licenseAutoLease-on_16.svg') !important; background-size: contain; }
.wtadm-icon-licenseAutoLease-off { background-image: url('licenseAutoLease-off_16.svg') !important; background-size: contain; }
.wtadm-icon-virtualDomain { background-image: url('virtualDomain_16.svg') !important; background-size: contain; }
.wtadm-icon-virtualEmail { background-image: url('virtualEmail_16.svg') !important; background-size: contain; }
.wtadm-icon-pecBridge { background-image: url('pecBridge_16.svg') !important; background-size: contain; }
.wtadm-icon-fetchmail { background-image: url('fetchmail_16.svg') !important; background-size: contain; }
.wtadm-icon-stmtStatus-ok { background-image: url('stmtStatus-ok_16.svg') !important; background-size: contain; }
.wtadm-icon-stmtStatus-error { background-image: url('stmtStatus-error_16.svg') !important; background-size: contain; }
.wtadm-icon-stmtStatus-warning { background-image: url('stmtStatus-warning_16.svg') !important; background-size: contain; }
.wtadm-icon-stmtStatus-skipped { background-image: url('stmtStatus-skipped_16.svg') !important; background-size: contain; }

.wtadm-gpusers-row-disabled { color: #E60D35; }
.wtadm-domainAccessLog-warning { background-color: #FFFFE0; }
.wtadm-domainAccessLog-danger { background-color: #FFCCCB; }
