/* Service Icons */
.wtadm-icon-service,
.wtadm-icon-service-sm { background-image: url('service@sm.svg') !important; background-size: contain; }
.wtadm-icon-service-off-sm { background-image: url('service@sm.svg') !important; background-size: contain; }
.wtadm-icon-service-md { background-image: url('service@md.svg') !important; background-size: contain; }
.wtadm-icon-service-off-md { background-image: url('service@md.svg') !important; background-size: contain; }
.wtadm-icon-service-lg { background-image: url('service@lg.svg') !important; background-size: contain; }
.wtadm-icon-service-off-lg { background-image: url('service@lg.svg') !important; background-size: contain; }
/* ---------- Icons (actions) */
.wtadm-icon-addDomain { background-image: url('domain-add_16.svg') !important; background-size: contain; }
.wtadm-icon-editDomain { background-image: url('domain-edit_16.svg') !important; background-size: contain; }
.wtadm-icon-deleteDomain { background-image: url('domain-delete_16.svg') !important; background-size: contain; }
.wtadm-icon-initCheckDomain { background-image: url('domain-initcheck_16.svg') !important; background-size: contain; }
.wtadm-icon-addGroup { background-image: url('add_16.svg') !important; background-size: contain; }
.wtadm-icon-addUser { background-image: url('add_16.svg') !important; background-size: contain; }
.wtadm-icon-addRole { background-image: url('add_16.svg') !important; background-size: contain; }
.wtadm-icon-addResource { background-image: url('add_16.svg') !important; background-size: contain; }
.wtadm-icon-addLauncherLink { background-image: url('add_16.svg') !important; background-size: contain; }
.wtadm-icon-selectStmt { background-image: url('stmtSelect_16.svg') !important; background-size: contain; }
.wtadm-icon-play1Stmt { background-image: url('stmtPlay1_16.svg') !important; background-size: contain; }
.wtadm-icon-playStmt { background-image: url('stmtPlay_16.svg') !important; background-size: contain; }
.wtadm-icon-skipStmt { background-image: url('stmtSkip_16.svg') !important; background-size: contain; }
.wtadm-icon-testConnection { background-image: url('testConnection_16.svg') !important; background-size: contain; }
/* ---------- Icons (glyphs) */
.wtadm-glyph-user-add:before { content: '\f234'; font: var(--fa-font-solid); }
.wtadm-glyph-licence-activate:before { content: '\f00c'; font: var(--fa-font-solid); }
.wtadm-glyph-licence-deactivate:before { content: '\f09c'; font: var(--fa-font-solid); }
.wtadm-glyph-licence-autolease:before { content: '\f085'; font: var(--fa-font-solid); }
/* Other Icons */
.wtadm-icon-maintenance-on { background-image: url('maintenance-on_16.svg') !important; background-size: contain; }
.wtadm-icon-maintenance-off { background-image: url('maintenance-off_16.svg') !important; background-size: contain; }
.wtadm-icon-settings { background-image: url('settings_16.svg') !important; background-size: contain; }
.wtadm-icon-logging { background-image: url('logging_16.svg') !important; background-size: contain; }
.wtadm-icon-loggers { background-image: url('logging_16.svg') !important; background-size: contain; }
.wtadm-icon-logViewer { background-image: url('logViewer_16.svg') !important; background-size: contain; }
.wtadm-icon-accesslog { background-image: url('accessLog_16.svg') !important; background-size: contain; }
.wtadm-icon-audit { background-image: url('audit_16.svg') !important; background-size: contain; }
.wtadm-icon-dbUpgrader { background-image: url('dbUpgrader_16.svg') !important; background-size: contain; }
.wtadm-icon-domains { background-image: url('domains_16.svg') !important; background-size: contain; }
.wtadm-icon-domain { background-image: url('domain_16.svg') !important; background-size: contain; }
.wtadm-icon-domain-disabled { background-image: url('domain-disabled_16.svg') !important; background-size: contain; }
.wtadm-icon-groups { background-image: url('group_16.svg') !important; background-size: contain; }
.wtadm-icon-group { background-image: url('group_16.svg') !important; background-size: contain; }
.wtadm-icon-users { background-image: url('user_16.svg') !important; background-size: contain; }
.wtadm-icon-user { background-image: url('user_16.svg') !important; background-size: contain; }
.wtadm-icon-roles { background-image: url('role_16.svg') !important; background-size: contain; }
.wtadm-icon-role { background-image: url('role_16.svg') !important; background-size: contain; }
.wtadm-icon-launcherLinks { background-image: url('launcherLink_16.svg') !important; background-size: contain; }
.wtadm-icon-service-module { background-image: url('service-module_16.svg') !important; background-size: contain; }
.wtadm-icon-permission { background-image: url('permission_16.svg') !important; background-size: contain; }
.wtadm-icon-licenses { background-image: url('license_16.svg') !important; background-size: contain; }
.wtadm-icon-license { background-image: url('license_16.svg') !important; background-size: contain; }
.wtadm-icon-licenseActivatorWiz { background-image: url('licenseActivator_16.svg') !important; background-size: contain; }
.wtadm-icon-licenseAutoLease-on { background-image: url('licenseAutoLease-on_16.svg') !important; background-size: contain; }
.wtadm-icon-licenseAutoLease-off { background-image: url('licenseAutoLease-off_16.svg') !important; background-size: contain; }
.wtadm-icon-dataSources { background-image: url('dataSource_16.svg') !important; background-size: contain; }
.wtadm-icon-dataSource { background-image: url('dataSource_16.svg') !important; background-size: contain; }
.wtadm-icon-dataSourceQuery { background-image: url('dataSource-query_16.svg') !important; background-size: contain; }
.wtadm-icon-virtualDomain { background-image: url('virtualDomain_16.svg') !important; background-size: contain; }
.wtadm-icon-virtualEmail { background-image: url('virtualEmail_16.svg') !important; background-size: contain; }
.wtadm-icon-pecBridge { background-image: url('pecBridge_16.svg') !important; background-size: contain; }
.wtadm-icon-pecBridge-authState-OK { background-image: url('pecBridge-authState-ok_16.svg') !important; background-size: contain; }
.wtadm-icon-pecBridge-authState-ER { background-image: url('pecBridge-authState-error_16.svg') !important; background-size: contain; }
.wtadm-icon-pecBridge-authState-UN { background-image: url('pecBridge-authState-unknown_16.svg') !important; background-size: contain; }
.wtadm-icon-fetchmail { background-image: url('fetchmail_16.svg') !important; background-size: contain; }
.wtadm-icon-stmtStatus-ok { background-image: url('stmtStatus-ok_16.svg') !important; background-size: contain; }
.wtadm-icon-stmtStatus-error { background-image: url('stmtStatus-error_16.svg') !important; background-size: contain; }
.wtadm-icon-stmtStatus-warning { background-image: url('stmtStatus-warning_16.svg') !important; background-size: contain; }
.wtadm-icon-stmtStatus-skipped { background-image: url('stmtStatus-skipped_16.svg') !important; background-size: contain; }

.wtadm-domainAccessLog-warning { background-color: #FFFFE0; }
.wtadm-domainAccessLog-danger { background-color: #FFCCCB; }
